﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TBMainLayout.cshtml";
}
@*@Html.Partial("~/Views/Shared/_TBSiteAdmin.cshtml")*@

<style type="text/css">

</style>
<input type="hidden" id="hidValue" name="hidValue" />
<body >  @*onload="loadPartial('@ViewBag.EmpMessage')"*@

    @*@Html.Partial("~/Views/Shared/_TBSiteAdmin.cshtml")*@
    @Html.Partial("~/Views/Shared/_TBNewSiteAdmin.cshtml")

    <div id="partialView">

        <div class="col-med-5 col-lg-9 row main-right">
            <div class="panel panel-default systemAdminDiv">

                @*@ViewBag.EmpMessage*@
                Welcome to Site Admin More...


            </div>
        </div>
    </div>
</body>




@*@Html.Partial("_SiteAdminIndexPartial") ;*@

