﻿@model IList<TBScripts.Models.ReportsModel>

@{
    ViewBag.Title = "SiteEmployeeUsage";
    Layout = "~/Views/Shared/_TBMainLayout.cshtml";
}


<script type="text/javascript">
    $(document).ready(function ($) {
        //  alert('hi');
        $('#example').tablesorter({
            theme: 'blue',
            widthFixed: true,
            widgets: ['filter'],
            headers: {
                0: { filter: false, sorter: false },
                3: { sorter: false, filter: false },
                7: { sorter: false, filter: false },
                6: { sorter: true, filter: false },
            }
        }).tablesorterPager({
            container: $("#pager"),
            output: '{startRow} to {endRow} ({totalRows})',
            removeRows: false
        });

    });

</script>

@Html.Partial("~/Views/Shared/_TBNewSiteAdmin.cshtml")







<div class="col-med-5 col-lg-9 row main-right ">
    <div class="panel panel-default systemAdminDiv">


        <div class="MainForm">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <h2 class="marginTop">Employee Usage</h2>
                </div>

            </div>
        </div>

        <div class="form-horizontal">
            <div class="col-md-12 col-lg-12 row main-right ">
                <div class="panel panel-default table-responsive">

                    <table id="example" class="display" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Login Name</th>
                                <th>First Name</th>
                                <th>
                                    Last Name
                                </th>
                                <th>
                                   Jan
                                </th>
                                <th>
                                  Feb
                                </th>
                                <th>
                                   March
                                </th>
                                <th>
                                   April
                                </th>
                                <th>
                                    May
                                </th>

                            </tr>
                        </thead>

                        <tfoot>
                            <tr>
                                <th>Login Name</th>
                                <th>First Name</th>
                                <th>
                                    Last Name
                                </th>
                                <th>
                                    Jan
                                </th>
                                <th>
                                    Feb
                                </th>
                                <th>
                                    March
                                </th>
                                <th>
                                    April
                                </th>
                                <th>
                                    May
                                </th>

                            </tr>
                        </tfoot>

                        @foreach (var item in Model)
                        {
                            <tr>
                               

                                <td>
                                    @Html.DisplayFor(modelItem => item.loginId)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.firstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.lastName)
                                </td>
                               
                                <td>
                                    @Html.DisplayFor(modelItem => item.Jan)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Feb)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.March)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.April)
                                </td>


                                <td>
                                    @Html.DisplayFor(modelItem => item.May)
                                </td>
                               

                              
                            </tr>
                        }

                    </table>
                    <div id="pager" class="pager">
                        <form>
                            <img src="http://mottie.github.com/tablesorter/addons/pager/icons/first.png" class="first" />
                            <img src="http://mottie.github.com/tablesorter/addons/pager/icons/prev.png" class="prev" />
                            <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                            <img src="http://mottie.github.com/tablesorter/addons/pager/icons/next.png" class="next" />
                            <img src="http://mottie.github.com/tablesorter/addons/pager/icons/last.png" class="last" />
                            <select class="pagesize">
                                <option selected="selected" value="10">10</option>

                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                            </select>
                        </form>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>