﻿

@model List<TBScripts.Models.PersonModel>

@{
    ViewBag.Title = "AddSiteUser";
    Layout = "~/Views/Shared/_TBMainLayout.cshtml";
}

<script>

</script>



@Html.Partial("~/Views/Shared/_TBNewSiteAdmin.cshtml")

@Html.Partial("~/Views/Shared/_SiteAdminViewEmployeePartial.cshtml",Model)







