﻿@model TBScripts.Models.eFolderModel

@{
    ViewBag.Title = "EditSiteFolderRecordView";
    Layout = "~/Views/Shared/_TBeFolderMainLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function ($) {
        //  alert('hi');
        $('#example').tablesorter({
            theme: 'blue',
            widthFixed: true,
            // widgets: ['filter']
        }).tablesorterPager({
            // target the pager markup - see the HTML block below
            container: $("#pager"),

            // output string - default is '{page}/{totalPages}';
            // possible variables:
            // {page}, {totalPages}, {startRow}, {endRow} and {totalRows}
            output: '{startRow} to {endRow} ({totalRows})',

            // apply disabled classname to the pager arrows when
            // the rows at either extreme is visible - default is true
            updateArrows: true,

            // remove rows from the table to speed up the sort of large
            // tables. setting this to false, only hides the non-visible rows;
            // needed if you plan to add/remove rows with the pager enabled.
            removeRows: false

        });

        //$("#example").tablesorter({ widthFixed: true, widgets: ['zebra'] }).tablesorterPager({ container: $("#pager") });


    });
</script>


<div class="col-med-5 col-lg-9 row main-right ">
    <div class="panel panel-default">

        <div class="panel-heading" id="tabs">
            <br />
            <ul class="nav-main nav-main-tabs" role="tablist">
                <li id="Li-1"><a href="#tabs-1">Edit eFolder</a></li>
                <li id="Li-2"><a href="#tabs-2">Handouts</a></li>

            </ul>
            <div id="tabs-1" class="panel-body">
                <div style="clear:both"></div>
                <div>
                    <span><strong>Edit  @Model.FolderName :</strong></span>
                </div>
                <br />
                <div style="clear:both"></div>
                <div class="content1-sub">
                    <span>FolderName :</span>
                </div>
                
                <div style="float:left;width:40%">
                    @Html.TextBoxFor(m => m.FolderName, Model.FolderName, new { style = "width:20em;" })
                    @Html.HiddenFor(m => m.FolderId, Model.FolderId)
                </div>
                <div style="clear:both"></div>
                <br />
               
                    <div class="content1-sub">
                        &nbsp;
                    </div>
                    <div style="float:left;width:40%">
                        <input type="button" value="Save" id="btneditfolder" name="btneditfolder" class="btn btn-primary" /> &nbsp;
                        <input type="button" value="Delete" id="btnDelete" name="btnDelete" class="btn btn-primary " /> &nbsp;
                        <input type="button" value="Cancel" id="btnCancel" name="btnCancel" class="btn btn-primary " /> &nbsp;
                      
                    </div>
              

            </div>
            <div id="tabs-2" class="panel-body">
                <div style="clear:both"></div>
                <p>View Teaching Book</p>
                <table id="example" class="display" width="100%" cellspacing="0">
                    <thead>
                        <tr>

                            <th>Folder Id</th>
                            <th>Folder Name</th>
                            <th>Sort Sequence</th>

                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Folder Id</th>
                            <th>Folder Name</th>
                            <th>Sort Sequence</th>
                        </tr>
                    </tfoot>

                    <tbody>


                        @foreach (var obj in Model.folderfileslist)
                        {
                            <tr>
                                @*<td>
                            <img src="~/Content/pic/images/icon_edit.gif" onclick="editbook('@obj.SectionId','@obj.SectionTitle','@obj.SortSequence');" style="cursor:pointer;" />
                            <img src="~/Content/pic/images/icon_delete.gif" style="cursor:pointer;" />
                        </td>*@

                                @*<td>@obj.FolderId</td>
                        <td>@obj.FolderName</td>*@
                                @*@Html.TextBoxFor(m => obj.SortSeq, obj.SortSeq)</td>*@



                                <td>@obj.Id</td>
                                <td>@obj.Name</td>

                                <td>
                                    <input type="text" id="txtSort" name="SortSeq[]"/>
                                </td>

                            </tr>
                        }



                    </tbody>


                </table>


                <div id="pager" class="pager">
                    <form>
                        <img src="http://mottie.github.com/tablesorter/addons/pager/icons/first.png" class="first" />
                        <img src="http://mottie.github.com/tablesorter/addons/pager/icons/prev.png" class="prev" />
                        <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                        <img src="http://mottie.github.com/tablesorter/addons/pager/icons/next.png" class="next" />
                        <img src="http://mottie.github.com/tablesorter/addons/pager/icons/last.png" class="last" />
                        <select class="pagesize">
                            <option selected="selected" value="10">10</option>

                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                        </select>
                    </form>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>
</div>


