﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FileCoversheetTemplate</title>
</head>
<body>
    <div> 

       <img src="~/Content/pic/basic_top_icons.png" />

    </div>
</body>
</html>
