﻿@model List<TBScripts.Models.eFolderModel>

@{
    ViewBag.Title = "FolderView";
    Layout = "~/Views/Shared/_TBeFolderMainLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function ($) {
        //  alert('hi');
        $('#example').tablesorter({
            theme: 'blue',
            widthFixed: true,
            // widgets: ['filter']
        }).tablesorterPager({
            // target the pager markup - see the HTML block below
            container: $("#pager"),

            // output string - default is '{page}/{totalPages}';
            // possible variables:
            // {page}, {totalPages}, {startRow}, {endRow} and {totalRows}
            output: '{startRow} to {endRow} ({totalRows})',

            // apply disabled classname to the pager arrows when
            // the rows at either extreme is visible - default is true
            updateArrows: true,

            // remove rows from the table to speed up the sort of large
            // tables. setting this to false, only hides the non-visible rows;
            // needed if you plan to add/remove rows with the pager enabled.
            removeRows: false

        });

        //$("#example").tablesorter({ widthFixed: true, widgets: ['zebra'] }).tablesorterPager({ container: $("#pager") });


    });

    ShowModelPopUp = function () {
        window.showModalDialog('../Home/about', "WindowPopup", 'width=400px,height=400px');
        window
    }



</script>
@using (Html.BeginForm())
{
    <div class="col-med-5 col-lg-9 row main-right ">
        <div class="panel panel-default">

            <p>
                The eFolder section of 'scripts allows you to create, and view a custom folder structure that makes sense to you. Use the tree to the left to expand content areas and drill-down to individual handouts.
                To navigate to a handout:
            </p>
            <ul>
                <li>Click on a  symbol in the tree to expand a folder.</li>
                <li> Click on the title of the folder or handout to view in this window.</li>
            </ul>

            @if (Model.Count > 0)
            { 
                <input type="hidden" id="hdnsiteid" name="hdnsiteid" value="@Model[0].SiteId" />
            }
    
            @*@foreach(var folder in Model)
                {
                    <li>@folder.FolderName</li>
                }*@
    

            <table id="example" class="display" width="100%" cellspacing="0">
                <thead>
                    <tr>

                        <th>Folder Id</th>
                        <th>Folder Name</th>
                        <th>Sort Sequence</th>

                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>Folder Id</th>
                        <th>Folder Name</th>
                        <th>Sort Sequence</th>
                    </tr>
                </tfoot>

                <tbody>

                 
                    @foreach (var obj in Model)
                    {
                        <tr>
                            @*<td>
                                    <img src="~/Content/pic/images/icon_edit.gif" onclick="editbook('@obj.SectionId','@obj.SectionTitle','@obj.SortSequence');" style="cursor:pointer;" />
                                    <img src="~/Content/pic/images/icon_delete.gif" style="cursor:pointer;" />
                                </td>*@

                            @*<td>@obj.FolderId</td>
                                <td>@obj.FolderName</td>*@
                            @*@Html.TextBoxFor(m => obj.SortSeq, obj.SortSeq)</td>*@

                            

                            <td>@obj.FolderId <input type="hidden" id="hdnFolderId" name="FolderId[]" value="@obj.FolderId" /></td>
                            <td>@obj.FolderName<input type="hidden" id="hdnFolderName" name="FolderName[]" value="@obj.FolderName" /></td>

                            <td>
                                <input type="text" id="txtSort" name="SortSeq[]" value="@obj.SortSeq" />
                            </td>

                        </tr>
                    }

                   

                </tbody>


            </table>


            <div id="pager" class="pager">
                <form>
                    <img src="http://mottie.github.com/tablesorter/addons/pager/icons/first.png" class="first" />
                    <img src="http://mottie.github.com/tablesorter/addons/pager/icons/prev.png" class="prev" />
                    <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                    <img src="http://mottie.github.com/tablesorter/addons/pager/icons/next.png" class="next" />
                    <img src="http://mottie.github.com/tablesorter/addons/pager/icons/last.png" class="last" />
                    <select class="pagesize">
                        <option selected="selected" value="10">10</option>
                      
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                    </select>
                </form>
            </div>
            <div>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

            @*@Model.efolderViewModel*@

            @*<input type="button" id="btnpopup" value="Open Modal Popup" onclick="ShowModelPopUp();" />*@

        </div>
    </div>
}
