﻿@model TBScripts.Models.NotesModel

@{
    ViewBag.Title = "NotesView";
    Layout = null;

}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="~/Content/css/tbcustom2.css" rel="stylesheet" media="screen">



<style type="text/css">
    .notescontent {
        display: block;
        margin-left: 6px;
        margin-bottom: 10px;
        float: left;
        width: 57%;
    }
</style>


<h2>NotesView</h2>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSave1").on("click", function (e) {
            var serviceURL = '@Url.Action("AddNoteDetails", "FolderView")';
          //  var serviceURL = "/FolderView/AddNoteDetails";

           // alert(serviceURL);
            var lintIdValue = $("#Id").val();
            var lintFileIdValue = $("#FileId").val();
            var lintsiteidValue = $("#SiteId").val();
            var strDescriptionValue = $("#Description").val();
           // var strtextValue = $("#Text").val();
            var strtextValue = tinymce.get("Text").getContent()

           // alert(strtextValue);
            

            if (strtextValue == '' || strtextValue == null) {
                alert('Please enter notes ');
                return false;
            }
            //alert(strtextValue);

            $.ajax({
                type: "POST",
                url: serviceURL,
                data: { lintId:lintIdValue,lintFileId: lintFileIdValue, lintsiteid: lintsiteidValue, strDescription: strDescriptionValue, strtext: strtextValue }
            }).done(function (data) {
                //alert(data);
                successFunc(data, status);

            }).error(function () {
                alert('Error');
            });


            function successFunc(data, status) {
                alert("Notes added successfully");
               // $("#strBookTitle").val('');
            }

            function errorFunc() {
                alert('error');
            }
        });
    });

    (function () {
        tinymce.init({
            mode: "exact",
            elements: "Text", //ID for textarea
            //  mode: "textareas",
            // elements: "@ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty)",
            theme: "modern",
            height: 200,
            width: 600,
            plugins: [
                "  advlist autolink lists link image charmap print preview hr anchor pagebreak",
                "searchreplace wordcount visualblocks visualchars code fullscreen",
                "insertdatetime media nonbreaking save table contextmenu directionality",
                "emoticons template paste textcolor"
            ],
            toolbar1: " insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            toolbar2: "print preview media | forecolor backcolor emoticons",
            image_advtab: true,
            templates: [
                { title: 'pre start', content: '<pre><code>' },
                { title: 'pre end', content: '</code></pre>' }
            ]
        });
    })();
</script>

@using (Html.BeginForm())
{
    <div style="clear:both"></div>
    <div class="notescontent">
        <div class="content1-sub">
            @Html.LabelFor(model => model.Description) :
        </div>
        <div style="float:left;width:30%">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)

            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.FileId)
            @Html.HiddenFor(model => model.SiteId)
        </div>
    </div>

    <div style="clear:both"></div>
    <div class="notescontent">
        <div class="content1-sub">
            @Html.LabelFor(model => model.Text) :
        </div>
        <div style="float:left;width:30%">
            @Html.EditorFor(model => model.Text, new { @class = "test" })
            @Html.ValidationMessageFor(model => model.Text)
        </div>
    </div>


    <div style="clear:both"></div>
    <div class="notescontent">
        <div class="content1-sub">
            &nbsp;
        </div>
        <div style="float:left;width:30%">
            @*<input type="submit" value="Save" id="btnSave1" name="btnSave1" class="btn btn-primary" />*@
            <input type="button" value="Save" id="btnSave1" name="btnSave1" class="btn btn-primary"  />
        </div>
    </div>
}



