﻿@model TBScripts.Models.PDFViewModel

@{
    Layout = null;
}


<script type="text/javascript">

</script>

<div class="col-lg-12 row content">

    @{Html.RenderPartial("_PDFViewPartial", Model);}
</div>