﻿@model TBScripts.Models.eFolderModel
@{
    ViewBag.Title = "ViewFrame";
    Layout = "~/Views/Shared/_TBeFolderMainLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#NotesId").on("click", function (e) {
            var fileid = $("#hdnfileid").val();
            //alert(fileid);
            var siteid = $("#hdnsiteid").val();
            //alert(siteid);
            var url = "/FolderView/NotesView?lintFileId=" + fileid + "&lintsiteid=" + siteid;

            //alert(url);

            $("#tabs-2").load(url);
        });

        $('#btnPrint').click(function () {
            //alert("start printing");
            var fileid = $("#hdnfileid").val();
            var serviceURL = '@Url.Action("PrintCount", "FolderView")';
            //alert(serviceURL)
            $.ajax({
                type: "POST",
                url: serviceURL,
                data: { FolderId: fileid },
            }).done(function (data) {
                alert(data);
                successFunc(data, status);
                
            }).error(function () {
                alert('Error');
            });

            function PrintThisPage() {
                if (window.frames['ifr'] == null) {
                    alert('document not found');
                } else {
                    window.frames['ifr'].focus();
                    window.frames['ifr'].print();
                   // print();
                }
            }

            function successFunc(data, status) {
                
                var getMyFrame = document.getElementById("ifr");
                console.log(getMyFrame);
                getMyFrame.focus();
                //$("#ifr").get(0).contentWindow.print();
                PrintThisPage();
                   // window.print();
                //iframe.contentWindow.document.head.appendChild(script);
                //$("#ifr").contentWindow.document.print();
                getMyFrame.contentWindow.print();
            }
            function errorFunc() {
                alert('error');
            }
        });
    });


</script>



<div class="col-med-5 col-lg-9 row main-right ">
    <div class="panel panel-default">

        <div class="panel-heading" id="tabs">
            <br />
            <ul class="nav-main nav-main-tabs" role="tablist">
                <li id="Li-1"><a href="#tabs-1">View Content</a></li>
                <li id="Li-2"><a href="#tabs-2" id="NotesId">Notes</a></li>
                <li id="Li-3"><a href="#tabs-3">Coversheet</a></li>

            </ul>
            <div id="tabs-1" class="panel-body">
                <div style="clear:both"></div>


                @{

                    @*<iframe src="@Url.Action("GetPDF", "FolderView", new { id = Model.FolderId })" width="90%" height="90%"></iframe>*@
                    <div>
                        <strong>View Content</strong> &nbsp;
                        <input type="button" value="Add to folder" class="btn btn-primary" />&nbsp;
                        <input type="button" name="btnPrint" id="btnPrint" value="Print" class="btn btn-primary" />&nbsp;
                        <input type="button" value="Print w/Coversheet" class="btn btn-primary" />&nbsp;
                        <input type="button" value="Print Coversheet ONLY" class="btn btn-primary" />&nbsp;
                    </div>
                 

                    <div style="clear:both"></div>
                    <iframe style="BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid; WIDTH: 98%; HEIGHT: 98%; BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid"
                            src="@Url.Action("GetPDF", "FolderView", new { id = Model.FolderId })#pagemode=none&amp;toolbar=0&amp;view=FitH"
                            name="ifr" id="ifr" scrolling=no>
                        Your browser do not support frames!
                    </iframe>
    


                }

            </div>

            <div id="tabs-2" class="panel-body">
                <div style="clear:both"></div>
                <p>adding notes here...</p>
                @*<input type="text" id="txtfileid" name="txtfileid" value="@Model.FolderId" />
                    <input type="text" id="txtfilename" name="txtfilename" value="@Model.FolderName" />
                    <input type="text" id="txtsiteid" name="txtsiteid" value="@Model.SiteId" />*@
                <input type="hidden" id="hdnsiteid" name="hdnsiteid" value="@Model.SiteId" />
                <input type="hidden" id="hdnfileid" name="hdnfileid" value="@Model.FolderId" />

            </div>

            <div id="tabs-3" class="panel-body">
                <div style="clear:both"></div>
                <p>adding covernotes here...</p>
            </div>

        </div>
    </div>
</div>
