﻿@model TBScripts.Models.Mymodel
@using TBScripts.Models;

@{
    ViewBag.Title = "Browse2";
    Layout = "~/Views/Shared/_TBMainLayout.cshtml";
}

@Html.Partial("~/Views/Shared/partial2.cshtml", Model.treeViewModel)

<script src="@Url.Content("~/Scripts/tinymce/tinymce.js")" type="text/javascript"></script>

<script type="text/javascript">


    //ReturnSectionPartial

    function PdfView(handoutId,handoutName,csel) {
        var id = handoutId;
        var name = handoutName;
        var url = "@Url.Action("ReturnPartial", "FolderView")";
        //alert(id);

        $.ajax({
            type: "POST",
            url: url,
            data: { lintBookId: id,strBookName:name },

            success: successFunc1,
            error: errorFunc1
        });

        function successFunc1(data, status) {

            $('#Browse2Tabs').html('');
            $("#Browse2Tabs").tabs();
            $('#Browse2Tabs').html(data);

            //alert(data);

        }
        function errorFunc1() {
            alert('error');
        }
        if (csel != undefined) {
            accpnlnw(csel);
        }

    }


    function ReturnSectionPartial(SectionId, SectionName,BookId,siteId) {
        var id = SectionId;
        var name = SectionName;
        var url = "@Url.Action("ReturnSectionPartial", "FolderView")";
        //alert(SectionName);

        $.ajax({
            type: "POST",
            url: url,
            data: { lintSectionId: id, strSectionName: name, BookId: BookId, SiteId: siteId },

            success: successFunc1,
            error: errorFunc1
        });

        function successFunc1(data, status) {

            $('#Browse2Tabs').html('');
            $("#Browse2Tabs").tabs();
            $('#Browse2Tabs').html(data);

            //alert(data);

        }
        function errorFunc1() {
            alert('error');
        }

    }

    $(document).ready(function () {

        $(function () {
            // alert("sudhakar");
            $("#Browse2Tabs").tabs();
        });



        $("#selBooks").change(function () {

            var id = $(this).val();
            var url = "@Url.Action("Browse3", "TreeView")";
            $.ajax({
                type: "POST",
                url: url,
                data: { lintBookId: id },

                success: successFunc,
                error: errorFunc
            });

            function successFunc(data, status) {
                @*var yValue = '@ViewData["sudha"]';
                alert(yValue);*@
                //alert(yValue.strBookTitle);

                $('#TOPICS').empty();
                // $('#divEditBook').empty();
                //$('#txtBookTitle').val('testing');
                //$("#TOPICS").append('<div class="list-group innerdiv" id="TOPICS">');

                for (var i = 0; i < data.length; i++) {
                    //div3Content += '<p>' + data[i].strSectionTitle + '</p>'; //if Name is property of your Person object
                    var div3Content = '<li class="shhdacpnl' + i + '" onClick="accpnlnw(' + i + ')">';
                    div3Content += '<h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">'
                    div3Content += '<a href="#" onclick="ReturnSectionPartial(' + data[i].intSectionId + ',\''+data[i].strSectionTitle+'\',' + data[i].intBookId + ',' + data[i].intSiteId + ')" class="list-group-item active" style="cursor:pointer;">'
                    div3Content += '<span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>' + data[i].strSectionTitle + '<span class="badge">' + data[i].lstHandOutModel.length + '</span>'
                    div3Content += '</a></h3>'

                    div3Content += '<div style="width:auto;display:none;" class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom"><p>'

                    for (var j = 0; j < data[i].lstHandOutModel.length; j++) {
                        // alert(data[i].lstHandOutModel[0].strName);
                        var res = data[i].lstHandOutModel[j].strName.replace("'", "/'");
                        div3Content += '<a href="#" class="list-group-item" style="cursor:pointer;" onclick="PdfView(' + data[i].lstHandOutModel[j].intHandOutId + ', \'' + data[i].lstHandOutModel[j].strName.replace("'", "\\'") + '\','+ i + ')" >'
                        div3Content += '<span class="glyphicon glyphicon-file"></span>' + data[i].lstHandOutModel[j].strName
                        div3Content += '</a>'
                    }

                    div3Content += '</p></div></li>'

                    $("#TOPICS").append(div3Content);
                }
                //$("#TOPICS").append('</div>');
            }

            function errorFunc() {
                alert('error');
            }

        });





        $("#EditBook").on("click", function (e) {
            e.preventDefault();
            var bid = $("#selBooks").val();
            //alert(bid)
            var url = "/Book/EditBook?lintBookId=" + bid;
            $("#tabs-2").load(url);
        });

        $("#BookSections").on("click", function (e) {
            e.preventDefault();
            var bid = $("#selBooks").val();
            alert(bid)
            var url = "/Book/BookSections?lintBookId=" + bid;
            $("#tabs-3").load(url);
        });


    });
</script>



<div class="col-med-5 col-lg-9 row main-right" id="Browse2Tabs" style="border:1px solid #111">

   @Html.Partial("~/Views/Shared/_tabPartial.cshtml")
</div>
