﻿@model TBScripts.Models.Mymodel
@using TBScripts.Models;


@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_TBMainLayout.cshtml";
}




<script type="text/javascript">
   

    $(document).ready(function () {

        $(function () {
            $("#tabs").tabs();

        });

     
       
        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 455,
            width: 550,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                url = $(this).data("URL");
                alert(url);
                $(this).load(url);
                //$('#dialog-edit').load(url);

            },
            close: function (event, ui) {
                $("#dialog-edit").dialog('close');
            }
        });

        //$("#dialog-edit").dialog({
        //    title: 'Add New Book',
        //    autoOpen: false,
        //    resizable: false,
        //    height: 455,
        //    width: 550,
        //    show: { effect: 'drop', direction: "up" },
        //    modal: true,
        //    draggable: true,
        //    open: function (event, ui) {
        //        var url = $("#AddBook").attr('href');
        //        // alert(url);
        //        $(this).load(url);
        //        //$('#dialog-edit').load(url);

        //    },
        //    close: function (event, ui) {
        //        $(this).dialog('close');
        //    }
        //});

        $("#AddBook").on("click", function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            alert(url);
            $("#dialog-edit").data("URL", url).dialog('open');
            //$("#dialog-edit").dialog('open');
            return false;
        });

        //Getting List of Books
        //$("#BooksList").on("click", function (e) {
        //    e.preventDefault();
        //    alert("sudhakar");
        //    var url = "/Book/BooksList";
        //    $("#tabs-4").load(url);
        //});

        //Language Onchange function

        $("#selLanguage").on("change", function (e) {
            var selectedValue = $("#selLanguage").val();
            //alert(selectedValue);
            var ProdId = $('#ProductModel_intProductLineId').val();
            //alert(ProdId);
        });


        //Add Product Line

        $("#btnAdd").on("click", function (e) {
            //var url = $(this).attr('href');
            //alert(url)

            var url = "/Book/AddProductLine";

            $("#dialog-edit").data("URL", url).dialog('open');

            // alert(url);
            @*$("#dialog-edit").dialog({
                title: 'Add New ProductLine',
                autoOpen: false,
                resizable: false,
                height: 455,
                width: 550,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(this).load(url);
                    //$(this).load('@Url.Action("AddProductLine", "Book")');
                },
                close: function (event, ui) {
                    $(this).dialog('close');
                }
            });*@

            //  $("#dialog-edit").dialog('open');
            return false;
        });
    });
</script>




<div class="col-lg-12 row content">

    @Html.Partial("~/Views/Shared/partial1.cshtml", Model.treeViewModel)

    

        <div class="col-md-9 col-lg-9 col-sm-10 col-xs-10 row main-right ">
            <div class="panel panel-default">


                <div class="panel-heading" id="tabs">
                    @*<br />*@
                    <ul class="nav-main nav-main-tabs" role="tablist">
                        @*class="active"*@
                        <li id="Li-1"><a href="#tabs-1">About</a></li>
                        <li id="Li-2"><a href="#tabs-2">View</a></li>
                        <li id="Li-3"><a href="#tabs-3">Edit</a></li>
                        <li id="Li-4"><a href="#tabs-4">Books</a></li>
                    </ul>


                    <div id="tabs-1" class="panel-body">
                        <table cellpadding="6" cellspacing="6">
                            <tr>
                                <td class="form_data">
                                    <span class="txt13B">
                                        <span class="txt13B">
                                            Use the Browse feature to locate your handout. Browse by using either of these methods:
                                        </span>
                                        <ol>
                                            <li class="txt13Bred">
                                                <span class="txt13Bred">
                                                    <b>
                                                        The Navigation Tree<br>
                                                    </b>
                                                </span><span class="txt13B">Expand each section by clicking <img src="~/Images/tree/plusik.gif" width="19" height="16"></span>
                                            </li>
                                            <li class="txt13Bred">
                                                <b>
                                                    The Search Bar<br>
                                                </b><span class="txt13B">Type in a keyword and click @*<img src="~/Images/tree/go.gif" width="28" height="22" align="absmiddle">*@</span>
                                            </li>
                                        </ol>
                                        <span class="txt13B" align="left">
                                            Click on the title of the handout to view its content.  <br>
                                        </span>
                                        Select <span class="txt13Bbl">Help</span> for further instruction.</p>
                                        <span class="txt13B">
                                            <br>
                                            <br>
                                            Tree Icon Legend:
                                        </span>
                                        <table width="350" border="0" cellspacing="0" cellpadding="0">

                                            <tr>

                                                <td width="16" height="25" valign="top"><img src="~/Images/Blank.GIF"></td>
                                                <td width="20" valign="top"><img src="~/Images/tree/xpFolder.gif" width="16" height="16" align="top"></td>
                                                <td width="314" valign="top" class="txt13">Book or Section</td>
                                            </tr>
                                            <tr>
                                                <td height="25" valign="top"><img src="~/Images/Blank.GIF"></td>
                                                <td valign="top"><img src="~/Images/tree/xpMyDoc.gif" width="16" height="16" align="top"></td>
                                                <td valign="top" class="txt13">Section or Chapter containing Handouts</td>
                                            </tr>
                                            <tr>
                                                <td height="25" valign="top"><img src="~/Images/Blank.GIF"></td>
                                                <td valign="top"><img src="~/Images/tree/page.gif" width="16" height="16" align="bottom"></td>
                                                <td valign="top" class="txt13">Handout</td>
                                            </tr>
                                            <tr>
                                                <td height="21"></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </table>
                                        <br>
                                        <br>
                        </table>
                    </div>
                    <div id="tabs-2" class="panel-body">

                        <div style="clear:both"></div>
                        <p>View Teaching Book</p>
                        <div style="clear:both"></div>

                        <div class="content1">
                            <div class="content1-sub">
                                <span>Product Line Desc:</span>
                            </div>
                            <div style="float:left;width:40%">

                                @Html.LabelFor(m => m.ProductModel.strProductLineDesc, Model.ProductModel.strProductLineDesc)

                            </div>
                        </div>

                        <div class="content1">
                            <div class="content1-sub">
                                <span>Product Line Type:</span>
                            </div>
                            <div style="float:left;width:40%">

                                @Html.LabelFor(m => m.ProductModel.strProductLineTypeDesc, Model.ProductModel.strProductLineTypeDesc)

                            </div>
                        </div>

                        <div class="content1">
                            <div class="content1-sub">
                                <span>Copyright:</span>
                            </div>
                            <div style="float:left;width:40%">

                                @Html.LabelFor(m => m.ProductModel.CopyrightDesc, Model.ProductModel.CopyrightDesc)

                            </div>
                        </div>

                    </div>


                    <div id="tabs-3" class="panel-body">
                        <br />
                        <div style="clear:both"></div>
                        <div class="content1">
                            <div class="content1-sub">
                                <span>Product Line Desc:</span>
                            </div>
                            <div style="float:left;width:40%">
                                @*<input type="text"  value=@Model.ProductModel.strProductLineDesc.ToString()>*@

                                @Html.TextBoxFor(m => m.ProductModel.strProductLineDesc, Model.ProductModel.strProductLineDesc)
                                @Html.HiddenFor(m => m.ProductModel.intProductLineId, Model.ProductModel.intProductLineId)
                            </div>
                        </div>
                        <div style="clear:both"></div>
                        <div class="content1">
                            <div class="content1-sub">
                                <span> Product Line Type:</span>
                            </div>
                            <div style="float:left;width:40%">
                                @*@Html.DropDownList("ddlProductLineType", ViewData["ProductLineType"] as List<SelectListItem>, new { @class = "dropdown-size" })*@
                                @*@Html.DropDownList("ProductLineType", ViewData["ProductLineType"] as List<SelectListItem>, new { @class = "dropdown-size" },Model.ProductModel.intProductLineTypeId);*@
                                @*@Html.DropDownListFor(e => e[0].Reason, new SelectList(ViewBag.YourSelectList, "Value", "Text","YourSelectedValue")*@

                                @*@Html.DropDownListFor(m=>m.ProductModel.intProductLineId, ViewData["ProductLineType"] as List<SelectListItem>, new { @class = "dropdown-size" });*@

                                @{
                                    List<ProductLineTypeModel> lstProductLineType = new List<ProductLineTypeModel>();
                                    lstProductLineType = ViewData["ProductLineType"] as List<ProductLineTypeModel>;
                                    string strOption = string.Empty;
                                }
                                <select name="selProductline" id="selProductline">
                                    @if (lstProductLineType.Count > 0)
                                    {
                                        foreach (ProductLineTypeModel pl in lstProductLineType)
                                        {
                                            if (pl.intProductLineTypeId == Model.ProductModel.intProductLineTypeId)
                                            {
                                                //strOption +=
                                                <option value="@pl.intProductLineTypeId" selected> @pl.strProductLineTypeDesc </option>;
                                            }
                                            else
                                            {
                                                // strOption +=
                                                <option value="@pl.intProductLineTypeId">@pl.strProductLineTypeDesc</option>;
                                            }

                                        }
                                    }

                                    @*<select name="selProductline" id="selProductline">
                                    @strOption*@

                                        @*<option value='1'>4-Tier</option>
                                        <option value='2' selected>3-Tier(no chapters)</option>
                                        <option value='3'>2-Tier</option>
                                        <option value='4'>3-Tier(no Sections)</option>*@

                                    </select>
                                </div>
                            </div>
                            <div style="clear:both"></div>
                            <div class="content1">

                                <div class="content1-sub">
                                    <span>Copyright:</span>
                                </div>
                                <div style="float:left;width:40%">
                                    @*<input type="text" id="txtcopyright" name="txtcopyright" placeholder="Username">*@
                                    @Html.TextBoxFor(m => m.ProductModel.strProductLineDesc, Model.ProductModel.CopyrightDesc)

                                </div>
                            </div>
                            <div style="clear:both"></div>
                            <div class="content1">
                                <div class="content1-sub">
                                    <span>Disclaimer:</span>
                                </div>
                                <div style="float:left;width:40%">
                                    @Html.TextAreaFor(m => m.ProductModel.strDisclaimer, Model.ProductModel.strDisclaimer)
                                </div>
                            </div>
                            <div style="clear:both"></div>
                            <div class="content1">
                                <div class="content1-sub">
                                    <span>Language:</span>
                                </div>

                                <div style="float:left;width:40%">
                                    @*@Html.DropDownList("Language", ViewData["Language"] as List<SelectListItem>, new { @class = "dropdown-size" })*@

                                    @{
                                        List<LanguageModel> lstLanguageModel = new List<LanguageModel>();
                                        lstLanguageModel = ViewData["Language"] as List<LanguageModel>;

                                    }
                                    <select name="selLanguage" id="selLanguage">
                                        @if (lstLanguageModel.Count > 0)
                                        {
                                            foreach (LanguageModel pl in lstLanguageModel)
                                            {
                                                if (pl.intlanguageId == Model.ProductModel.intlanguageId)
                                                {
                                                    <option value="@pl.intlanguageId" selected> @pl.strlanguageName </option>;
                                                }
                                                else
                                                {
                                                    <option value="@pl.intlanguageId">@pl.strlanguageName</option>;
                                                }
                                            }
                                        }
                                    </select>
                                </div>

                            </div>

                            <div class="content1">
                                <div class="content1-sub">
                                    &nbsp;
                                </div>
                                <div style="float:left;width:40%">
                                    <input type="button" value="Save" id="btnSave" name="btnSave" class="btn btn-primary" /> &nbsp;
                                    <input type="button" value="Add" id="btnAdd" name="btnAdd" class="btn btn-primary" />




                                </div>
                            </div>





                        </div>

                        <div id="tabs-4" class="panel-body">

                            <b>
                                @Html.ActionLink("Add Book", "AddBook", "Book", new { ProdLineId = Model.ProductModel.intProductLineId, Desc = "Teaching Book" }, new { id = "AddBook", @class = "myCssClass" })
                                @*<a id="AddBook" href="~/Book/AddBook?ProdLineId=1&Desc='Teaching Book'">Add Book</a>*@
                                @*<a id="AddBook" href="~/Book/AddBookWithParam">Add Book</a>*@
                            </b>
                            @{
                                List<TreeViewModel> t = new List<TreeViewModel>();
                                if (TempData["BooksItems"] != null)
                                {
                                    t = (List<TreeViewModel>)TempData["BooksItems"];
                                }
                                if (t.Count > 0)
                                {
                                    <table border="0" cellpadding="4" cellspacing="2">
                                        <tr><th>&nbsp;</th><th>Book Id</th><th>Book Title</th><th>Book Type</th></tr>
                                        @foreach (var b in t)
                                        {
                                            <tr>
                                                <td>
                                                    <img src="~/Content/pic/images/icon_edit.gif" />
                                                    <img src="~/Content/pic/images/icon_delete.gif" />
                                                </td>
                                                <td>@b.intBookId</td>
                                                <td>@b.strBookTitle</td>
                                                <td>
                                                    <select id="selBookType" name="selBookType">
                                                        <option value="">Plese Select</option>
                                                        <option value="1">Type1</option>
                                                    </select>
                                                </td>

                                            </tr>

                                            @*<br />*@
                                        }
                                    </table>
                                }
                            }
                        </div>



                        @*<div class="panel-body">
                            <div id="pdf">
                                <object width="100%" height="100% type=" application />pdf" data="pdf/alz00100.pdf?#toolbar=0&amp;navpanes=0&amp;scrollbar=0&amp;page=0&amp;view=Fit" id="pdf_content">
                                <p>Insert your error message here, if the PDF cannot be displayed.</p>
                                </object>
                            </div>
                        </div>*@


                        <div id="dialog-edit" style="display: none">
                        </div>


                    </div>
                </div>
            </div>

        </div>
