﻿@model List<TBScripts.Models.TreeViewModel>

@{
    ViewBag.Title = "Treeview";
    Layout = "~/Views/Shared/_TBMainLayout.cshtml";
}

<h2>Treeview</h2>

@Html.Partial("~/Views/Shared/partial1.cshtml");

@*@{
    int lintPrvBookId=0;
    foreach (var book in Model)
    {
        if (book.intBookId !=lintPrvBookId)
        {
            @*<a>@book.strBookTitle</a><br />
     <li>@Html.ActionLink(book.strBookTitle, "TreeView", "TreeView",new {id=book.intBookId})</li>
           
        }
        lintPrvBookId = book.intBookId;
       
        foreach (var booksection in book.lstHandOutModel)
            {
                <a style="margin-left:20px; float:left"> @booksection.strName</a><br/>
            }
    }
}*@