﻿@model TBScripts.Models.BookModel
@{
    Layout = null;
}

<!--<script src="~/Scripts/jquery-1.10.2.min.js"></script>-->

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
@*<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>*@

<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="~/Content/css/tbcustom2.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">


<script type="text/javascript">
    $(document).ready(function () {


        $('.closediALOGUEBOX').click(function () {
            alert('vcv');
            $("#dialog-edit").dialog('close');
        });

        $("#btnSave1").on("click", function (e) {
            var serviceURL = ""
            var serviceURL = "/Book/AddBookDetails";

            alert("serviceURL");

            var BookTitleValue = $("#strBookTitle").val();
            // alert(ProductLineDesc);
            var BookTypeValue = $("#selBookType").val();
            //alert(ProductLineType);
            var ProductLineIdValue = $("#intProductLineId").val();


            if (BookTitleValue == '' || BookTitleValue == null) {
                alert('Please Book Title');
                return false;
            }


            $.ajax({
                type: "POST",
                url: serviceURL,
                data: { BookTitle: BookTitleValue, BookType: BookTypeValue, ProductLineId: ProductLineIdValue }
            }).done(function (data) {
                successFunc(data, status);

            });


            function successFunc(data, status) {
                alert("Product line added successfully");
                $("#strBookTitle").val('');
            }

            function errorFunc() {
                alert('error');
            }
        });
    });
</script>

<div>

    @*<input type="text" value=@Model.strBookTitle />
        @Html.TextBoxFor(m => m.strBookTitle, Model.strBookTitle)*@

    <div style="clear:both"></div>
    <div class="content1">
        <div class="content1-sub">
            <span>Book TItle:</span>
        </div>
        <div style="float:left;width:40%">
            @Html.TextBoxFor(m => m.strBookTitle, Model.strBookTitle)
            @Html.TextBoxFor(m => m.intProductLineId, Model.intProductLineId)

        </div>
    </div>

    <div style="clear:both"></div>
    <div class="content1">
        <div class="content1-sub">
            <span>Book Type:</span>
        </div>
        <div style="float:left;width:40%">
            @*@Html.TextBoxFor(m => m.intBookTypeId, Model.strBookTitle)*@

            <select id="selBookType" name="selBookType">
                <option value="">Plese Select</option>
                <option value="1">Type1</option>
            </select>

        </div>
    </div>
    <div style="clear:both"></div>

    <div class="content1">
        <div class="content1-sub">
            &nbsp;
        </div>
        <div style="float:left;width:40%">
            <input type="button" value="Save" id="btnSave1" name="btnSave1" class="btn btn-primary" /> &nbsp;
            @*<input type="button" value="Cancel" id="btnCancel" name="btnCancel" class="btn btn-primary closediALOGUEBOX" />*@
            @*<input type="button" value="Cancel" id="btnCancel" name="btnCancel" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close btn btn-primary closediALOGUEBOX" />*@
        </div>
    </div>


    @*<div style="width:500px;">
            @Html.Grid(Model).Columns(columns =>
                        {
                            columns.Add(c => c.Id).Titled("Client ID");
                            columns.Add(c => c.Name).Titled("Name").Filterable(true);
                            columns.Add(c => c.Email).Titled("Email");
                        }).WithPaging(3).Sortable(true)
        </div>*@



</div>
