﻿@model TBScripts.Models.ProductModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddProductLine</title>

    <script type="text/javascript">
        function save_product_line() {
            var serviceURL = ""
            var serviceURL = "/Book/AddProductLine1";
           // alert(serviceURL);

            var ProductLineDesc = $("#strProductLineDesc").val();
           // alert(ProductLineDesc);
            var ProductLineType = $("#intProductLineTypeId").val();
            //alert(ProductLineType);
            var Copyright = $("#CopyrightDesc").val();


            if (ProductLineDesc == '' || ProductLineDesc == null)
            {
                alert('Plenter ProductLineDesc vzlue');
                return false;
            }
                

            // alert(modelDataJSON);

            $.ajax({
                type: "POST",
                url: serviceURL,
                data: { ProductLineDesc: ProductLineDesc, ProductLineType: ProductLineType, Copyright: Copyright}
            }).done(function (data) {
                successFunc(data, status);
           
            });

            //$.ajax({
            //    type: "POST",
            //    url: serviceURL,

            //    data: { ProductLineDesc: "master" ,ProductLineType:1,Copyright:"jim"},

            //    contentType: "application/json; charset=utf-8",
            //    dataType: 'json',
            //    success: successFunc,
            //    error: errorFunc
            //});

            function successFunc(data, status) {
                alert("Product line added successfully");
                $("#strProductLineDesc").val('');
                $("#CopyrightDesc").val('');

            }

            function errorFunc() {
                alert('error');
            }
        }
    </script>

</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <div style="clear:both"></div>
            <div class="content1">
                <div style="float:left;width:40%">
                    <span>Product Line Desc:</span>
                </div>
                <div style="float:left;width:40%">
                    @Html.TextBoxFor(m => m.strProductLineDesc)
                </div>
            </div>

            <div style="clear:both"></div>
            <div class="content1">
                <div style="float:left;width:40%">
                    <span>Product Line Type:</span>
                </div>
                <div style="float:left;width:40%">
                    @Html.DropDownListFor(m => m.intProductLineTypeId, Model.ProductLineTypeItems)
                </div>
            </div>

            <div style="clear:both"></div>
            <div class="content1">
                <div style="float:left;width:40%">
                    <span>Copyright (©):</span>
                </div>
                <div style="float:left;width:40%">
                    @Html.TextBoxFor(m => m.CopyrightDesc)
                </div>
            </div>

            <div class="content1">
                <div class="content1-sub">
                    &nbsp;
                </div>
                <div style="float:left;width:40%">
                    <input onclick="save_product_line();" type="button" value="Save" class="btn btn-primary" /> &nbsp;
                    <input onclick="$('#dialog-edit').dialog('close');" type="button" value="Cancel" id="btnCancel" name="btnCancel" class="btn btn-primary" />
                </div>
            </div>

        }
    </div>
</body>
</html>
