﻿@model TBScripts.Models.SectionModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddSection</title>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/tbcustom2.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
   

</head>
<body>
    <div>

        <div style="clear:both"></div>
        <div class="content1">
            <div style="float:left;width:40%">
                <span>Section Title:</span>
            </div>
            <div style="float:left;width:40%">
                @Html.TextBoxFor(m => m.SectionTitle)
                @Html.TextBoxFor(m => m.SectionId)
            </div>
        </div>

        <div style="clear:both"></div>
        <div class="content1">
            <div style="float:left;width:40%">
                <span>Sort Sequence:</span>
            </div>
            <div style="float:left;width:40%">
                @Html.TextBoxFor(m => m.SortSequence)
            </div>
        </div>

        <div class="content1">
            <div class="content1-sub">
                &nbsp;
            </div>
            <div style="float:left;width:40%">
                @*onclick="save_product_line();"*@
                <input type="button" value="Save" class="btn btn-primary" /> &nbsp;
                <input onclick="$('#dialog-edit').dialog('close');" type="button" value="Cancel" id="btnCancel" name="btnCancel" class="btn btn-primary" />
            </div>
        </div>

    </div>
</body>
</html>
