﻿@using TBScripts.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BooksList</title>
</head>
<body>
    <div>
        <b>
            @*@Html.ActionLink("Add Book", "AddBook", "Book", new { ProdLineId = Model.ProductModel.intProductLineId, Desc = "Teaching Book" }, new { id = "AddBook", @class = "myCssClass" })*@
            @*<a id="AddBook" href="~/Book/AddBook?ProdLineId=1&Desc='Teaching Book'">Add Book</a>*@
            @*<a id="AddBook" href="~/Book/AddBookWithParam">Add Book</a>*@
        </b>
        @{
            List<TreeViewModel> t = new List<TreeViewModel>();
            if (TempData["BooksItems"] != null)
            {
                t = (List<TreeViewModel>)TempData["BooksItems"];
            }
            if (t.Count > 0)
            {
                <table border="0" cellpadding="4" cellspacing="2">
                    <tr><th>&nbsp;</th><th>Book Id</th><th>Book Title</th><th>Book Type</th></tr>
                    @foreach (var b in t)
                    {
                        <tr>
                            <td>
                                <img src="~/Content/pic/images/icon_edit.gif" />
                                <img src="~/Content/pic/images/icon_delete.gif" />
                            </td>
                            <td>@b.intBookId</td>
                            <td>@b.strBookTitle</td>
                            <td>
                                <select id="selBookType" name="selBookType">
                                    <option value="">Plese Select</option>
                                    <option value="1">Type1</option>
                                </select>
                            </td>

                        </tr>
                    }
                </table>
            }
        }
    </div>
</body>
</html>
