﻿@model IList<TBScripts.Models.SectionModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BookSections</title>
    @*<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
        <script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
        <link href="cdn.datatables.net/1.10.2/css/jquery.dataTables.css" rel="stylesheet" media="screen">*@

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/tbcustom2.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">




    <link href="@Url.Content("~/JsTableSorter/theme.blue.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/JsTableSorter/jquery.tablesorter.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JsTableSorter/jquery.tablesorter.pager.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JsTableSorter/jquery.tablesorter.widgets.js")" type="text/javascript"></script>

    <script type="text/javascript">
        //$(document).ready(function () {
        //    $('#example').dataTable();
        //});
        var url = "";
        var Mytitle = 'Section'
        //alert(Mytitle);
        $("#dialog-edit").dialog({
            title: Mytitle,
            autoOpen: false,
            resizable: false,
            height: 455,
            width: 550,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {

                alert($(this).data("URL"));
                url = $(this).data("URL");
                //var dlgData = $("#dialog-edit").data("myData");
                //alert(dlgData.data1);
                $(this).load(url);

            },
            close: function (event, ui) {
                $(this).dialog('close');
            }
        });





        function editbook(sectionid, sectionname, sortseq) {

            var url = "/Book/AddSection?sectionid=" + encodeURI(sectionid) + "&sectiontitle=" + encodeURI(sectionname) + "&sortseq=" + encodeURI(sortseq);
            $("#dialog-edit").data("URL", url).dialog('open');

            //alert("sudhakar");
            //alert(sectionid);
            //alert(sectionname);
            //var s = "sudhakar polisetti";
            //alert(s);
            //var url = "/Book/AddSection?sectionid=" + sectionid + "&sectiontitle='" + sectionname + "'&sortseq=" + sortseq;
            //var url = "/Book/AddSection?sectionid=" + encodeURI(sectionid) + "&sectiontitle=" + encodeURI(sectionname) + "&sortseq=" + encodeURI(sortseq);
          
            //var url = "/Book/AddSection?sectionid=10&sectiontitle=sudhakar%20%polisetti";
            //alert(url);

            // Mytitle = 'Edit Section';
            //alert(Mytitle);
            //$("#dialog-edit").dialog('close');
            //$("#dialog-edit").data("sectionid", sectionid).dialog('open');
            // $("#dialog-edit").data("myData", { data1: "Hello", data2: "world" }).dialog('open');
            
            //$("#dialog-edit").dialog('open');

            //$("#dialog-edit").dialog({
            //    open: function () {
            //        $(this).dialog("option", "title", "My new title");
            //    }
            //})

            return false;
        }

        $(document).ready(function ($) {
            //  alert('hi');
            $('#example').tablesorter({
                theme: 'blue',
                widthFixed: true,
                // widgets: ['filter']
            }).tablesorterPager({
                // target the pager markup - see the HTML block below
                container: $("#pager"),

                // output string - default is '{page}/{totalPages}';
                // possible variables:
                // {page}, {totalPages}, {startRow}, {endRow} and {totalRows}
                output: '{startRow} to {endRow} ({totalRows})',

                // apply disabled classname to the pager arrows when
                // the rows at either extreme is visible - default is true
                updateArrows: true,

                // remove rows from the table to speed up the sort of large
                // tables. setting this to false, only hides the non-visible rows;
                // needed if you plan to add/remove rows with the pager enabled.
                removeRows: false

            });

            //$("#example").tablesorter({ widthFixed: true, widgets: ['zebra'] }).tablesorterPager({ container: $("#pager") });


        });

    </script>
</head>
<body>


    <div id="dialog-edit" style="display: none">
    </div>

    <div>
        Displying sections.............
        <table id="example" class="display" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th></th>
                    <th>Section Id</th>
                    <th>Section Name</th>
                    <th>Sort Sequence</th>

                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th></th>
                    <th>Section Id</th>
                    <th>Section Name</th>
                    <th>Sort Sequence</th>
                </tr>
            </tfoot>

            <tbody>
                @*<tr>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>  *@

                @foreach (var obj in Model)
                {
                    <tr>
                        <td>
                            <img src="~/Content/pic/images/icon_edit.gif" onclick="editbook('@obj.SectionId','@obj.SectionTitle','@obj.SortSequence');" style="cursor:pointer;" />
                            <img src="~/Content/pic/images/icon_delete.gif" style="cursor:pointer;" />
                        </td>
                        <td>@obj.SectionId</td>
                        <td>@obj.SectionTitle</td>
                        <td>@obj.SortSequence</td>

                    </tr>
                }

            </tbody>


        </table>

        <div id="pager" class="pager">
            <form>
                <img src="http://mottie.github.com/tablesorter/addons/pager/icons/first.png" class="first" />
                <img src="http://mottie.github.com/tablesorter/addons/pager/icons/prev.png" class="prev" />
                <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                <img src="http://mottie.github.com/tablesorter/addons/pager/icons/next.png" class="next" />
                <img src="http://mottie.github.com/tablesorter/addons/pager/icons/last.png" class="last" />
                <select class="pagesize">
                    <option selected="selected" value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                </select>
            </form>
        </div>

    </div>
</body>
</html>
