﻿@model TBScripts.Models.BookModel
@using TBScripts.Models;

@{
    ViewBag.Title = "Edit Book";
    // Layout = "~/Views/Shared/_TBMainLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditBook</title>
    <script type="text/javascript">

        $(document).ready(function () {


            $(function () {
                $(".datefield").datepicker();
            });
            

            $("#btnEditBook").on("click", function (e) {
                alert("updating Book");
                var serviceURL = ""
                var serviceURL = "/Book/UpdateBookDetails";
                // alert(serviceURL);

                var BookName = $("#txtBookTitle").val();
                alert(BookName);
                var BookId = $("#txtBookID").val();
                alert(BookId);
                var ProductLineId = $("#selProductLine").val();


                if (txtBookTitle == '' || txtBookTitle == null) {
                    alert('Pl Enter Book Name');
                    return false;
                }

                $.ajax({
                    type: "POST",
                    url: serviceURL,
                    data: {
                        lintBookId: BookId, BookName: BookName, ChangesDeadline: '',
                        AnticipatedDate: '', NotificationDate: '', PublishedDate: '', ProductLineId: ProductLineId
                    }
                }).done(function (data) {
                    successFunc(data, status);

                });
                function successFunc(data, status) {
                    alert("Book Updated successfully");
                   
                }

                function errorFunc() {
                    alert('error');
                }
            });

            $("#btnAddBook").on("click", function (e) {
                alert("adding Book");
            });

            $("#btnDeleteBook").on("click", function (e) {
                alert("deleteing Book");
            });
        });

        function save_product_line() {

        }
    </script>
</head>
<body>
    <div id="tabs-1" class="panel-body">
        @{
            List<ProductLineModel> lstProductLine = new List<ProductLineModel>();
            if (ViewData["ProductLine"] != null)
            {
                lstProductLine = ViewData["ProductLine"] as List<ProductLineModel>;
            }
        }

        <div id="divEditBook">


            <div style="clear:both">
            </div>
            <p>Edit <b>@Model.strBookTitle</b></p>
            <div style="clear:both"></div>

            <div class="content1">
                <div class="content1-sub">
                    <span> Book Title:</span>
                </div>
                <div style="float:left;width:40%">

                    @Html.TextBox("txtBookTitle", Model.strBookTitle, new { @class = "form-control" })
                    @Html.Hidden("txtBookID", Model.intBookId, new { @class = "form-control" })

                </div>
            </div>
            <div style="clear:both"></div>

            <div class="content1">
                <div class="content1-sub">
                    <span> Changes Deadline:</span>
                </div>
                <div style="float:left;width:40%">

                    @Html.TextBox("txtChangeDeadline", Model.ChangesDeadline, new { @class = "form-control datefield" })

                </div>
            </div>
            <div style="clear:both"></div>

            <div class="content1">
                <div class="content1-sub">
                    <span> Anticipated Publish Date:</span>
                </div>
                <div style="float:left;width:40%">

                    @Html.TextBox("txtAnticipated", Model.AnticipatedPublishDate, new { @class = "form-control datefield" })
                </div>
            </div>
            <div style="clear:both"></div>

            <div class="content1">
                <div class="content1-sub">
                    <span> Notification Sent Date:</span>
                </div>
                <div style="float:left;width:40%">

                    @Html.TextBox("txtNotification", Model.NotificationSentDate, new { @class = "form-control datefield" })
                </div>
            </div>
            <div style="clear:both"></div>

            <div class="content1">
                <div class="content1-sub">
                    <span> Date Published:</span>
                </div>
                <div style="float:left;width:40%">

                    @Html.TextBox("txtDatePublished", Model.DatePublished, new { @class = "form-control datefield" })


                </div>
            </div>
            <div style="clear:both"></div>

            <div class="content1">
                <div class="content1-sub">
                    <span> Product Line:</span>
                </div>
                <div style="float:left;width:40%">
                    @*@Html.TextBox("selProductLine", @objBook.ProductLineName, new { @class = "form-control" })*@

                    <select name="selProductLine" id="selProductLine" class="form-control">
                        @if (lstProductLine.Count > 0)
                        {
                            foreach (ProductLineModel pl in lstProductLine)
                            {
                                if (pl.ProductLineId == Model.intProductLineId)
                                {
                                    <option value="@pl.ProductLineId" selected> @pl.ProductLineDesc </option>;
                                }
                                else
                                {
                                    <option value="@pl.ProductLineId">@pl.ProductLineDesc</option>;
                                }
                            }
                        }
                        else
                        {
                            <option value="">'select'  </option>;

                        }
                    </select>

                </div>

                <div style="clear:both"></div>
                <br />
                <div class="content1">
                    <div class="content1-sub">
                        &nbsp;
                    </div>
                    <div style="float:left;width:40%">
                        <input type="button" value="Save" id="btnEditBook" name="btnEditBook" class="btn btn-primary" /> &nbsp;
                        <input type="button" value="Add" id="btnAddBook" name="btnAddBook" class="btn btn-primary" /> &nbsp;
                        <input type="button" value="Delete" id="btnDeleteBook" name="btnDeleteBook" class="btn btn-primary" />
                    </div>
                </div>

            </div>
            <div style="clear:both"></div>
        </div>
    </div>

</body>
</html>
