﻿@model IEnumerable<TBScripts.Models.BrandTypeModel>

@{
    ViewBag.Title = "ViewBrandType";
    Layout = "~/Views/Shared/_TBMainLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function ($) {
        //  alert('hi');
        $('#example').tablesorter({
            theme: 'blue',
            widthFixed: true,
            // widgets: ['filter']
        }).tablesorterPager({
            // target the pager markup - see the HTML block below
            container: $("#pager"),

            // output string - default is '{page}/{totalPages}';
            // possible variables:
            // {page}, {totalPages}, {startRow}, {endRow} and {totalRows}
            output: '{startRow} to {endRow} ({totalRows})',

            // apply disabled classname to the pager arrows when
            // the rows at either extreme is visible - default is true
            updateArrows: true,

            // remove rows from the table to speed up the sort of large
            // tables. setting this to false, only hides the non-visible rows;
            // needed if you plan to add/remove rows with the pager enabled.
            removeRows: false

        });

        //$("#example").tablesorter({ widthFixed: true, widgets: ['zebra'] }).tablesorterPager({ container: $("#pager") });


    });

    ShowModelPopUp = function () {
        window.showModalDialog('../Home/about', "WindowPopup", 'width=400px,height=400px');
        window
    }



</script>

<h4>ViewBrandType</h4>
@Html.Partial("~/Views/Shared/_TBSystemAdmin.cshtml")



@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<div class="col-med-5 col-lg-9 row main-right ">
    <div class="panel panel-default">
        <table id="example" class="display" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        BrandType Id
                    </th>
                    <th>
                        BrandType Desc
                    </th>

                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.BrandTypeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BrandTypeDesc)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }

        </table>

        <div id="pager" class="pager">
            <form>
                <img src="http://mottie.github.com/tablesorter/addons/pager/icons/first.png" class="first" />
                <img src="http://mottie.github.com/tablesorter/addons/pager/icons/prev.png" class="prev" />
                <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                <img src="http://mottie.github.com/tablesorter/addons/pager/icons/next.png" class="next" />
                <img src="http://mottie.github.com/tablesorter/addons/pager/icons/last.png" class="last" />
                <select class="pagesize">
                    <option selected="selected" value="10">10</option>

                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                </select>
            </form>


        </div>
    </div>
</div>

