﻿@model IEnumerable<TBScripts.Models.ChapterHandOuts>

@foreach (var treeNode in Model)
{
    <ul>
        @if (treeNode != null)
        {
            <li>

                <img src="~/Images/TreeIcons/Icons/page.gif" />@treeNode.HandoutTitle
              
            </li>

        }
    </ul>
}

