﻿@model IEnumerable<TBScripts.Models.SectionChapters>

@*@foreach (var treeNode in Model)
    {
        <ul>
            @if (treeNode != null)
            {
                <li>
                    <a href="#">
                        @treeNode.NodeName
                    </a>
                    @if (treeNode.ChildNode.Count > 0)
                    {
                        @Html.Partial("ChildNode", treeNode.ChildNode)
                    }
                </li>
            }
        </ul>
    }*@

@foreach (var treeNode in Model)
{
    <ul>
        @if (treeNode != null)
        {
            <li>

                <img src="~/Images/TreeIcons/Icons/xpMyDoc.gif" /> @treeNode.ChapterTitle
               @{Html.RenderAction("HandoutsByChapterID", new { ChapterId = treeNode.ChapterId });}
                @*@Html.Partial("_PartialHandouts")*@
            </li>
          
        }
    </ul>
}