﻿


<div class="col-med-2 col-lg-2 navtree" style="min-height:500px;">

    <div class="list-group">

        @*@Model.siteId*@


        <a class="list-group-item" href="~/Report/PreNotifications">
           
            <span class="glyphicon glyphicon-book"></span>Pre-Notification<span class="badge"></span>
        </a>

        <a class="list-group-item" href="~/Report/TotalUsage">

            <span class="glyphicon glyphicon-file"></span> Total Usage Stats
        </a>

        <a href="~/Report/SiteUsage" class="list-group-item">
            <span class="glyphicon glyphicon-book"></span> Site Usage Stats<span class="badge"></span>
        </a>



        <a class="list-group-item" href="~/Report/Content">

            <span class="glyphicon glyphicon-file"></span>Content Freshness
        </a>




    </div>
</div>

<script>
    $("#btnSubmit").click(function () {
        $("#divLoader").show();
        $.ajax
        ({
            url: '/Test/Submit',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: {},
            //async: true,
            //processData: false,
            // cache: false,
            success: function (data) {
                $("#divLoader").hide();
                alert(data);
            },
            error: function (xhr) {
                $("#divLoader").hide();
                alert('error');
            }
        })
    });
</script>





