﻿@model TBScripts.Models.TotalUsageStatusReport

<script type="text/javascript">
    $(document).ready(function ($) {
        //  alert('hi');
        $('#example').tablesorter({
            theme: 'blue',
            widthFixed: true,
            // widgets: ['filter'],
            headers: {
                0: { filter: false, sorter: false },
                3: { sorter: false, filter: false },
                7: { sorter: false, filter: false },
                6: { sorter: true, filter: false },
            }
        }).tablesorterPager({
            container: $("#pager"),
            output: '{startRow} to {endRow} ({totalRows})',
            removeRows: false
        });

    });

</script>

<div class="col-med-5 col-lg-9 row main-right ">
    <div class="panel panel-default systemAdminDiv">

        <div class="MainForm">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <h2 class="marginTop">Total Usage Report</h2>
                </div>

            </div>
        </div>

        @if (Model.HandoutCounts.Count > 0)
        {
            <div class="form-horizontal">
                <div class="col-md-12 col-lg-12 row main-right ">
                    <div class="panel panel-default table-responsive">

                        <table id="example" class="display" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Handout Title</th>
                                    <th>
                                        Views Count
                                    </th>
                                    <th>
                                        Print Counts
                                    </th>


                                </tr>
                            </thead>



                            @foreach (var item in Model.HandoutCounts)
                        {
                        <tr>


                            <td></td>

                            <td>
                                @Html.DisplayFor(modelItem => item.HandoutTitle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ViewsCount)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.PrintCounts)
                            </td>

                        </tr>
                        }

                        </table>
                        <div id="pager" class="pager">
                            <form>
                                <img src="http://mottie.github.com/tablesorter/addons/pager/icons/first.png" class="first" />
                                <img src="http://mottie.github.com/tablesorter/addons/pager/icons/prev.png" class="prev" />
                                <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                                <img src="http://mottie.github.com/tablesorter/addons/pager/icons/next.png" class="next" />
                                <img src="http://mottie.github.com/tablesorter/addons/pager/icons/last.png" class="last" />
                                <select class="pagesize">
                                    <option selected="selected" value="10">10</option>

                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                </select>
                            </form>


                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>


