﻿@model TBScripts.Models.ReportListModel

@{
    ViewBag.Title = "PreNotifications";
    Layout = "~/Views/Shared/_TBMainLayout.cshtml";
}



<style>
    .treeview ul { /*CSS for Simple Tree Menu*/
        margin: 0;
        padding: 0;
    }

    .treeview li { /*Style for LI elements in general (excludes an LI that contains sub lists)*/
        background: white url("../Images/minus.png") no-repeat left center;
        list-style-type: none;
        padding-left: 22px;
        margin-bottom: 3px;
        background-size: 15px;
    }

        .treeview li.submenu { /* Style for LI that contains sub lists (other ULs). */
            background: white url("../Images/plus.png") no-repeat left 1px;
            cursor: hand !important;
            cursor: pointer !important;
            background-size: 15px;
        }


            .treeview li.submenu ul { /*Style for ULs that are children of LIs (submenu) */
                display: none; /*Hide them by default. Don't delete. */
            }

    .treeview .submenu ul li { /*Style for LIs of ULs that are children of LIs (submenu) */
        cursor: default;
    }
</style>


<body>
    @Html.Partial("~/Views/Report/_TBReportLayout.cshtml")
    <div id="partialView">
        <div class="col-med-5 col-lg-9 row main-right">
            <div class="panel panel-default systemAdminDiv">
                @*@ViewBag.EmpMessage*@
                @*Notifications*@

                @*@using (Ajax.BeginForm("GetNotificationReport", "Report", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnSuccess = "SaveUser", LoadingElementId = "loader" }, new { id = "frmPerson123" }))*@
                @using (Html.BeginForm())
                {
                    <div class="form-horizontal">
                        Reports
                        <hr />



                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-2">
                                        @Html.Label("Choose Book", htmlAttributes: new { @class = "control-label " })

                                    </div>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.BookList, new SelectList(Model.BookList, "Value", "Text"), null, new { @class = "form-control" })
                                    </div>

                                    <div class="col-md-2">
                                        <input type="submit" value="Go" class="btn btn-primary" id="btnSaveEmployee" />  @*onclick="SaveEmployee()"*@
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div>

                            @*<ul id="treemenu1" class="treeview">

                                    <li>
                                        Folder 1
                                        <ul>
                                            <li>
                                                Sub Item 1.1
                                                <ul>
                                                    <li>
                                                        Sub Item 1.2
                                                        <ul>
                                                            <li>Sub Item 1.2.1</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>Sub Item none</li>
                                        </ul>
                                    </li>
                                </ul>*@



                            @if (Model.PreNotifyList != null)
                            {
                                int lBookId = 0;
                                int lSectionId = 0;
                                int lChapterId = 0;
                                <ul>
                                    <li>


                                        @foreach (var item in Model.PreNotifyList)
                                        {
                                            int lNewBookId = item.BookId;
                                            int lNewSectionId = item.SectionId;
                                            bool bHasSections = false;
                                            int lNewChapterId = item.ChapterId;
                                            int lNewHandoutId = item.HandoutId;
                                            if (lNewBookId != lBookId && lNewBookId > 0)
                                            {
                                                lBookId = lNewBookId;
                                                @*<span>Book----</span>*@
                                                <img src="~/Images/tree/book.gif" />@item.BookTitle
                                            }
                                            if (lNewSectionId > 0)
                                            {
                                                <ul id="treemenu1" class="treeview">
                                                    @if (lNewSectionId != lSectionId && lNewSectionId > 0)
                                                    {
                                                        lSectionId = lNewSectionId;
                                                        <li>
                                                            @*<span>Section----</span>*@
                                                            <img src="~/Images/TreeIcons/Icons/xpFolder.gif" />@item.SectionTitle


                                                            @if (item.FileStatus.Count > 0)
                                                            {
                                                                <ul>
                                                                    @foreach (var file in item.FileStatus)
                                                                    {
                                                                        <li>
                                                                            @*<span>File----</span>*@
                                                                            <img src="~/Images/TreeIcons/Icons/database.gif" />@file.Name

                                                                            @if (file.status == 1)
                                                                            {
                                                                                <span>--Uploaded</span>

                                                                            }
                                                                            else if (file.status == 2)
                                                                            {
                                                                                <span>--Published</span>

                                                                            }
                                                                            else if (file.status == 3)
                                                                            {
                                                                                <span>--Archived</span>

                                                                            }
                                                                            else if (file.status == 4)
                                                                            {
                                                                                <span>--Removed</span>

                                                                            }
                                                                        </li>

                                                                    }
                                                                </ul>
                                                            }

                                                            @if (lNewChapterId > 0)
                                                            {
                                                                //call chapaters partial view
                                                                //Html.Partial("_PartialChapters");
                                                                //CreateChapterNode(lNewChapterId, sNewChapterDesc, lBookId, "bk_");
                                                                Html.RenderAction("ChaptersBySectionID", new { @SectionId = item.SectionId });
                                                            }
                                                        </li>
                                                    }
                                                </ul>
                                            }

                                        }
                                    </li>
                                </ul>
                            }

                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</body>


<script src="~/Scripts/simpletreemenu.js"></script>
<script type="text/javascript">
    //ddtreemenu.createTree(treeid, enablepersist, opt_persist_in_days (default is 1))
    ddtreemenu.createTree("treemenu1", true)
    ddtreemenu.createTree("treemenu2", false)
</script>