﻿
@{
    ViewBag.Title = "SiteUsage";
    Layout = "~/Views/Shared/_TBMainLayout.cshtml";
}

<body>

    @Html.Partial("~/Views/Report/_TBReportLayout.cshtml")

    <div id="partialView">

        <div class="col-med-5 col-lg-9 row main-right">
            <div class="panel panel-default systemAdminDiv">

                @*@ViewBag.EmpMessage*@
               site usage


            </div>
        </div>
    </div>
</body>

