﻿@model TBScripts.Models.TotalUsageStatusReport

@{
    ViewBag.Title = "TotalUsage";
    Layout = "~/Views/Shared/_TBMainLayout.cshtml";
}

<body>
    @Html.Partial("~/Views/Report/_TBReportLayout.cshtml")
    <div id="partialView">
        <div class="col-med-5 col-lg-9 row main-right">
            <div class="panel panel-default systemAdminDiv">

                @*@using (Html.BeginForm())*@
                @using (Ajax.BeginForm("GetTotalUsage", "Report", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnSuccess = "ReportResponse", LoadingElementId = "loader", UpdateTargetId = "divUpdate" }, new { id = "frmPerson123" }))
                {

                  
                    <div class="form-horizontal">
                        Total Usage Report
                        <hr />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.Label("Site Name", htmlAttributes: new { @class = "control-label " })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.SiteList, new SelectList(Model.SiteList, "Value", "Text"), null, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.Label("Language", htmlAttributes: new { @class = "control-label " })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.Languages, new SelectList(Model.Languages, "Value", "Text"), null, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.Label("Start Date", htmlAttributes: new { @class = "control-label " })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.StartDate, htmlAttributes: new { @class = "form-control", type = "date"  })

                                        @*@Html.TextBox(Model.StartDate.ToShortDateString(), String.Format("{0:d}", Model.StartDate.ToShortDateString()),
                                         new { @class = "form-control", type = "date" })*@





                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.Label("End Date", htmlAttributes: new { @class = "control-label " })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.EndDate, htmlAttributes: new { @class = "form-control", type = "date" })

                                        @*@Html.TextBox(Model.EndDate.ToShortDateString(), String.Format("{0:d}", Model.EndDate.ToShortDateString()),
                                         new { @class = "form-control", type = "date" })*@

                                    </div>
                                    <div class="col-md-2">
                                        <input type="submit" value="Go" class="btn btn-primary" id="btnSaveEmployee" />  @*onclick="SaveEmployee()"*@
                                    </div>
                                </div>
                            </div>
                        </div>





                    </div>
                    
                      <div id="divUpdate">
                      
                        @*@if(Model.HandoutCounts != null)
                        {
                            if(Model.HandoutCounts.Count > 0)
                            {
                              <div>sudhakar</div>
                                Html.RenderPartial("_TotalUsageReportPartial");
                            
                            }
                        }*@
                    </div>


                }
            </div>
        </div>
    </div>
</body>



<script type="text/javascript">
    //$(document).ready(function () {
    //    $('input[type=datetime]').datepicker({
    //        dateFormat: "dd/M/yy",
    //        changeMonth: true,
    //        changeYear: true,
    //        yearRange: "-60:+0"
    //    });

    //});

    $(function () {
        $(".datefield").datepicker();
    });

    function ReportResponse(response) {
        debugger;
        //var message = "Person Id: " + response.PersonId;
        //message += "\nName: " + response.Name;
        //message += "\nGender: " + response.Gender;
        //message += "\nCity: " + response.City;
        //alert("ReportResponse");
    }


</script> 