
A.ob_a { FONT: 11px verdana; COLOR: navy; 4149a1; darkslateblue; 0000ff; royalblue; TEXT-DECORATION: none;}

td.ob_td {VERTICAL-ALIGN: middle; FONT: 11px VERDANA; COLOR:000000; height:9px;}

td.ob_ic {width:16px; height:1px; vertical-align:top; text-align:right; FONT: 10px verdana;}

table.ob_zz {border:0; cursor:pointer;}

img.ob_ic {width:16px;}