﻿@model TBScripts.Models.CustomerModel

@{
    ViewBag.Title = "AddCustomer";
    Layout = "~/Views/Shared/_TBMainLayout.cshtml";
}

@Html.Partial("~/Views/Shared/_TBSystemAdmin.cshtml")

<div class="col-med-5 col-lg-9 row main-right ">
    <div class="panel panel-default systemAdminDiv">

        <div class="MainForm">
            <h2 class="marginTop">Add Customer</h2>




            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @*<h4>CustomerModel</h4>*@
                    <hr />
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(m => m.CustomerId)

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.CustomerId)
                                @Html.ValidationMessageFor(model => model.CustomerId)
                            </div>
                        </div>*@
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.CustomerName, htmlAttributes: new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.CustomerName, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.CheckBoxFor(model => model.IsActive)
                                    @Html.ValidationMessageFor(model => model.IsActive)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.Address1, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Address1, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Address1, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.Address2, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Address2, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Address2)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.Address3, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Address3, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Address3)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.City, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.City, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.StateId, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.StateId, new SelectList(Model.StatesList, "StateId", "StateName"), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.StateId, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.PostalCode, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.PostalCode, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PostalCode, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Notes, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Notes)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                   &nbsp;
                                </div>
                                <div class="col-md-8 text-right">
                                    <input type="submit" value="Create" class="btn btn-primary btnpadding " />
                                    <input type="button" value="Cancel" class="btn btn-danger btnpadding " onclick="location.href='@Url.Action("ViewCustomer", "SystemAdmin")'" />
                                   
                                </div>


                                
                            </div>
                    </div>
               
                </div>
                    </div>
            }

            @*<div>
                @Html.ActionLink("Back to List", "Index")

            </div>*@

        </div>
    </div>
</div>
