﻿@model TBScripts.Models.PersonModel

@{
    ViewBag.Title = "AddPersonRecord";
    Layout = "~/Views/Shared/_TBMainLayout.cshtml";
}

@*<style>
        .form-group {
            display: inline-block;
        }
    </style>*@

<script type="text/javascript">
    $(function () {
        $('#loginId').blur(function () {
            var serviceURL = "/SystemAdmin/VerifyLoginName";


            var loginIdValue = $("#loginId").val();
            // alert(loginIdValue);

            //if (loginIdValue == '' || loginIdValue == null) {
            //    alert('Please Enter Login Name');
            //    return false;
            //}


            $.ajax({
                type: "POST",
                url: serviceURL,
                data: { strLoginName: loginIdValue }
            }).done(function (data) {
                successFunc(data, status);

            });


            function successFunc(data, status) {

                if (data>0) {
                    alert("Login name already exist,pl enter another name")
                    $("#loginId").focus();
                    $("#loginId").val('');
                }
            }

            function errorFunc() {
                alert('error');
            }
        });
    });


</script>

@Html.Partial("~/Views/Shared/_TBSystemAdmin.cshtml")

<div class="col-med-5 col-lg-9 row main-right ">
    <div class="panel panel-default systemAdminDiv">

        <div class="MainForm">
            <h2 class="marginTop">Add Person</h2>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true)
                    @*<div class="form-group">
                            @Html.LabelFor(model => model.personId, htmlAttributes: new { @class = "control-label col-md-5" })
                               <div class="col-md-6">
                                @Html.EditorFor(model => model.personId)
                                @Html.ValidationMessageFor(model => model.personId)
                            </div>
                        </div>*@

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.firstName, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.firstName, htmlAttributes: new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.firstName, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.lastName, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.lastName, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.lastName, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.siteId, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-md-8">


                                    @Html.DropDownListFor(model => model.siteId, new SelectList(Model.lstSite, "SiteId", "SiteName"), "--- Select ---", new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.siteId, null, new { @class = "text-danger" })

                                    @*@Html.EditorFor(model => model.siteId)*@
                                    @*@Html.DropDownListFor(model => model.siteId, new SelectList(Model.lstSite, "SiteId", "SiteName"), new { style = "width:175px;" })*@

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.emailAddress, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.emailAddress, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.emailAddress, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.loginId, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.loginId, htmlAttributes: new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.loginId, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.password, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.password, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.roleId, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-md-8">


                                    @Html.DropDownListFor(model => model.roleId, new SelectList(Model.lstRole, "RoleId", "RoleName"), "--- Select ---", new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.roleId, null, new { @class = "text-danger" })



                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.isActive, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.CheckBoxFor(model => model.isActive)
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.phone1TypeId, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-md-8">


                                    @*@Html.DropDownListFor(model => model.phone1TypeId, new SelectList(Model.lstPhoneType, "PhoneTypeId", "PhoneTypeDesc"), "--- Select ---", new { @class = "form-control" })*@
                                    @Html.DropDownListFor(model => model.phone1TypeId, new SelectList(Model.lstPhoneType, "PhoneTypeId", "PhoneTypeDesc"), null, new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.phone1TypeId, null, new { @class = "text-danger" })



                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.phoneNumber1, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.phoneNumber1, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.phoneNumber1, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.phone2TypeId, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-md-8">


                                    @Html.DropDownListFor(model => model.phone2TypeId, new SelectList(Model.lstPhoneType, "PhoneTypeId", "PhoneTypeDesc"), null, new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.phone2TypeId, null, new { @class = "text-danger" })



                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.phoneNumber2, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.phoneNumber2, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.phoneNumber2, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.phone3TypeId, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-md-8">


                                    @Html.DropDownListFor(model => model.phone3TypeId, new SelectList(Model.lstPhoneType, "PhoneTypeId", "PhoneTypeDesc"), null, new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.phone3TypeId, null, new { @class = "text-danger" })



                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.phoneNumber3, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.phoneNumber3, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.phoneNumber3, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.phone4TypeId, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-md-8">


                                    @Html.DropDownListFor(model => model.phone4TypeId, new SelectList(Model.lstPhoneType, "PhoneTypeId", "PhoneTypeDesc"), null, new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.phone4TypeId, null, new { @class = "text-danger" })



                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.phoneNumber4, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.phoneNumber4, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.phoneNumber4, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>*@

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.notes, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.notes, htmlAttributes: new { @class = "form-control" })

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    &nbsp;
                                </div>
                                <div class="col-md-8 text-right">
                                    <input type="submit" value="Create" class="btn btn-primary btnpadding " />
                                    <input type="button" value="Cancel" class="btn btn-danger btnpadding " onclick="location.href='@Url.Action("ViewSystemUser", "Person")'" />

                                </div>

                           </div>
                        </div>


                    </div>


                </div>
            }

            @*<div>
                    @Html.ActionLink("Back to List", "Index")
                </div>*@
        </div>
    </div>
</div>

