﻿@model TBScripts.Models.SiteModel

@{
    ViewBag.Title = "AddSite";
    Layout = "~/Views/Shared/_TBMainLayout.cshtml";
}

<script type="text/javascript">
    $(function () {
        $('#SiteNumber').keydown(function (e) {
            if (e.shiftKey || e.ctrlKey || e.altKey) {
                e.preventDefault();
            } else {
                var key = e.keyCode;
                if (!((key == 8) || (key == 46) || (key >= 35 && key <= 40) || (key >= 48 && key <= 57) || (key >= 96 && key <= 105))) {
                    e.preventDefault();
                }
            }
        })
    })
</script>

@Html.Partial("~/Views/Shared/_TBSystemAdmin.cshtml")

<div class="col-med-5 col-lg-9 row main-right ">
    <div class="panel panel-default systemAdminDiv">

        <div class="MainForm">
            <h2 class="marginTop">Add Site</h2>


            @*@using (Html.BeginForm())*@
            @using (Html.BeginForm("AddSite", "SystemAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(m => m.SiteId)
                    @*<div class="form-group">
                            @Html.LabelFor(model => model.SiteId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SiteId)
                                @Html.ValidationMessageFor(model => model.SiteId)
                            </div>
                        </div>*@


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.SiteName, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.SiteName, htmlAttributes: new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.SiteName, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.SiteNumber, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.SiteNumber, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SiteNumber, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.SiteName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SiteName)
                                @Html.ValidationMessageFor(model => model.SiteName)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SiteNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SiteNumber)
                                @Html.ValidationMessageFor(model => model.SiteNumber)
                            </div>
                        </div>*@


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.CustomerId, new SelectList(Model.lstCustomer, "CustomerId", "CustomerName"), "--- Select ---", new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.CustomerId, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.Address1, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Address1, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Address1, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>



                    @*<div class="form-group">
                            @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CustomerName)
                                @Html.ValidationMessageFor(model => model.CustomerName)
                            </div>
                        </div>*@

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.Address2, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Address2, htmlAttributes: new { @class = "form-control" })

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.Address3, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Address3, htmlAttributes: new { @class = "form-control" })

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.City, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.City, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.StateId, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">

                                    @Html.DropDownListFor(model => model.StateId, new SelectList(Model.lstStateProvince, "StateId", "StateName"), "--Select--", new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.StateId, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.PostalCode, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.PostalCode, htmlAttributes: new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.PostalCode, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.PhoneNumber, htmlAttributes: new { @class = "form-control" })

                                    @*@Html.ValidationMessageFor(model => model.PostalCode, null, new { @class = "text-danger" })*@
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.FaxNumber, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.FaxNumber, htmlAttributes: new { @class = "form-control" })


                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.CheckBoxFor(model => model.IsActive)
                                    @Html.ValidationMessageFor(model => model.IsActive)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @*@Html.LabelFor(model => model.ApplicationHeaderFilePath, htmlAttributes: new { @class = "control-label " })*@
                                    <nobr>@Html.Label("Application Header", new { @class = "control-label " })</nobr>
                                </div>
                                <div class="col-md-8">

                                    <input type="file" name="FileApplicationHeaderFilePath" class="form-control" accept="image/*" /><br />
                                    @if (Model.ApplicationHeaderFilePath != null && Model.ApplicationHeaderFilePath != "")
                                    {
                                        var filename1 = "/SiteBrands/" + Model.ApplicationHeaderFilePath;
                                        <img src=@filename1 alt="Logo Here" class="img-thumbnail" style="height:110px !important;" />
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">

                                <div class="col-md-4">
                                    @*@Html.LabelFor(model => model.BrandFooterFilePath, htmlAttributes: new { @class = "control-label " })*@
                                    @Html.Label("Handout Footer Graphic", new { @class = "control-label " })
                                </div>

                                <div class="col-md-8">

                                    <input type="file" name="FileBrandFooterFilePath" class="form-control" /><br />
                                    @if (Model.BrandFooterFilePath != null)
                                    {
                                        var filename2 = "/SiteBrands/" + Model.BrandFooterFilePath;
                                        <img src=@filename2 alt="Logo Here" class="img-thumbnail" style="height:110px !important;" />
                                    }

                                </div>
                            </div>
                        </div>
                        @*<div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-12 text-center">
                                        <img src="~/SiteBrands/@Model.BrandFooterFilePath" alt="Logo Here" />

                                        <img src="~/SiteBrands/Penguins.jpg" alt="Logo Here" class="img-thumbnail" style="height:110px !important;" />
                                    </div>
                                </div>
                            </div>*@
                    </div>



                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @*@Html.LabelFor(model => model.BrandHeaderFilePath, htmlAttributes: new { @class = "control-label " })*@
                                    @Html.Label("Productline Graphic", new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">

                                    <input type="file" name="FileBrandHeaderFilePath" class="form-control" /><br />
                                    @if (Model.BrandHeaderFilePath != null)
                                    {

                                        var filename3 = "/SiteBrands/" + Model.BrandHeaderFilePath;
                                        <img src=@filename3 alt="Logo Here" class="img-thumbnail" style="height:110px !important;" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Notes, htmlAttributes: new { @class = "form-control" })
                                    <input type="submit" value="Create" class="btn btn-primary btnpadding " />
                                    <input type="button" value="Cancel" class="btn btn-danger btnpadding " onclick="location.href='@Url.Action("ViewSites", "SystemAdmin")'" />
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    &nbsp;
                                </div>
                                <div class="col-md-8 text-right">


                                </div>



                            </div>
                        </div>


                    </div>

                    @*<div class="form-group">
                            <div class="col-md-10">
                                <img src="~/SiteBrands/@Model.BrandFooterFilePath" alt="Logo Here" />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.BrandFooterFilePath, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">

                                <input type="file" name="FileBrandFooterFilePath" /><br />
                                @Html.ValidationMessageFor(model => model.BrandFooterFilePath)
                            </div>
                        </div>



                        <div class="form-group">
                            @Html.LabelFor(model => model.BrandTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.BrandTypeId, new SelectList(Model.lstBrandType, "", ""), "--select--", new { style = "width:175px;" })
                                @Html.ValidationMessageFor(model => model.BrandTypeId)
                            </div>
                        </div>*@

                    @*<div class="form-group">
                            <div class="col-md-10">
                                <img src="~/SiteBrands/@Model.BrandHeaderFilePath" alt="Logo Here" />
                            </div>
                        </div>*@

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.BrandHeaderFilePath, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">

                                <input type="file" name="FileBrandHeaderFilePath" /><br />
                                @Html.ValidationMessageFor(model => model.BrandHeaderFilePath)
                            </div>
                        </div>*@

                    @*<div class="form-group">
                            <div class="col-md-10">
                                <img src="~/SiteBrands/@Model.ApplicationHeaderFilePath" alt="Logo Here" />
                            </div>
                        </div>*@

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.ApplicationHeaderFilePath, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">

                                <input type="file" name="FileApplicationHeaderFilePath" /><br />
                                @Html.ValidationMessageFor(model => model.ApplicationHeaderFilePath)
                            </div>
                        </div>*@

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.SuppressOurBrand, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SuppressOurBrand)
                                @Html.ValidationMessageFor(model => model.SuppressOurBrand)
                            </div>
                        </div>*@



                    @*<div class="form-group">
                            @Html.LabelFor(model => model.StateName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.StateName)
                                @Html.ValidationMessageFor(model => model.StateName)
                            </div>
                        </div>*@




                </div>
            }



        </div>
    </div>
</div>
