﻿@model IEnumerable<TBScripts.Models.BookModel>

@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_TBMainLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function ($) {
    
        $('#example').tablesorter({
            theme: 'blue',
            widthFixed: true,
         // widgets: ['filter']
        }).tablesorterPager({
            container: $("#pager"),
            output: '{startRow} to {endRow} ({totalRows})',
            updateArrows: true,
            removeRows: false
        });

        //$("#example").tablesorter({ widthFixed: true, widgets: ['zebra'] }).tablesorterPager({ container: $("#pager") });
    });





</script>
@Html.Partial("~/Views/Shared/_TBSystemAdmin.cshtml")


<div class="col-med-5 col-lg-9 row main-right ">
    <div class="panel panel-default systemAdminDiv">

        <div class="MainForm">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <h2 class="marginTop">Books</h2>
                </div>
                @*<div class="col-md-6 col-lg-6 pull-right text-right add-field">
                        <input type="button" id="btnAddProduct" name="btnAddProduct" value="Add" class="btn btn-primary" />
                    </div>*@
            </div>
        </div>


        <div class="form-horizontal">
            <div class="col-md-12 col-lg-12 row main-right ">
                <div class="panel panel-default table-responsive">
                    <table id="example" class="display" width="100%" cellspacing="0">
                        <thead>
                            <tr>


                                <th>Book Title</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Book Title</th>
                                <th></th>
                            </tr>
                        </tfoot>

                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.strBookTitle)
                                </td>

                                <td>
                                        @Html.ActionLink("Sections", "Sections", new { BookId = item.intBookId, BookTitle = item.strBookTitle }) 
                                       
                                    </td>
                            </tr>
                        }

                    </table>

                    <div id="pager" class="pager">
                        <form>
                            <img src="http://mottie.github.com/tablesorter/addons/pager/icons/first.png" class="first" />
                            <img src="http://mottie.github.com/tablesorter/addons/pager/icons/prev.png" class="prev" />
                            <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                            <img src="http://mottie.github.com/tablesorter/addons/pager/icons/next.png" class="next" />
                            <img src="http://mottie.github.com/tablesorter/addons/pager/icons/last.png" class="last" />
                            <select class="pagesize">
                                <option selected="selected" value="10">10</option>

                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                            </select>
                        </form>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



