﻿@model TBScripts.Models.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassWord";
    Layout = "~/Views/Shared/_TBMainLayout.cshtml";
}


@Html.Partial("~/Views/Shared/_TBSystemAdmin.cshtml")

<h2>ChangePassWord</h2>

<form name="frmchange" method="post" action="@Url.Action("ChangePassWord")">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    Old Password:<input type="text" name="txtold" value="@Model.password" />
    New Password:<input type="text" name="txtNew" value="@Model.newPassword" />
    Confirm Password:<input type="text" name="txtConfirm" value="@Model.confirmPassword" />
    @Html.ValidationMessageFor(model => model.confirmPassword)
    <button type="submit" name="btnQuery">Change</button>
</form>