﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TBMainLayout.cshtml";
}
@Html.Partial("~/Views/Shared/_TBSystemAdmin.cshtml")

<style type="text/css">
    
</style>

<div class="col-med-5 col-lg-9 row main-right">
    <div class="panel panel-default systemAdminDiv">

        <p>
            Welcome to System Admin More...
        </p>

    </div>
</div>



