﻿@using System.Data
@model DataSet
@{
    ViewBag.Title = "RunQuery";
    Layout = "~/Views/Shared/_TBMainLayout.cshtml";
}


<script type="text/javascript">
    $(document).ready(function ($) {
        //  alert('hi');
        $('#tableOne').tablesorter({
            theme: 'blue',
            widthFixed: true,
            // widgets: ['filter']
        }).tablesorterPager({
            // target the pager markup - see the HTML block below
            container: $("#pagerOne"),

            // output string - default is '{page}/{totalPages}';
            // possible variables:
            // {page}, {totalPages}, {startRow}, {endRow} and {totalRows}
            output: '{startRow} to {endRow} ({totalRows})',

            // apply disabled classname to the pager arrows when
            // the rows at either extreme is visible - default is true
            updateArrows: true,

            // remove rows from the table to speed up the sort of large
            // tables. setting this to false, only hides the non-visible rows;
            // needed if you plan to add/remove rows with the pager enabled.
            removeRows: false

        });

        //$("#example").tablesorter({ widthFixed: true, widgets: ['zebra'] }).tablesorterPager({ container: $("#pager") });


    });

    ShowModelPopUp = function () {
        window.showModalDialog('../Home/about', "WindowPopup", 'width=400px,height=400px');
        window
    }



</script>



@Html.Partial("~/Views/Shared/_TBSystemAdmin.cshtml")


<div class="col-med-5 col-lg-9 row main-right ">
    <div class="panel panel-default systemAdminDiv">

        <div class="MainForm">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <h2 class="marginTop">RunQuery</h2>
                </div>

                <div class="row">
                    <div class="col-md-12 col-lg-12 ">
                        <form method="post" action="@Url.Action("RunQuery")">
                            <p>
                                Instructions: Enter a SELECT SQL query and click "Run Query"
                                Note: You will only see a result table on SELECT
                            </p>
                            <textarea name="txtquery" cols="80" rows="5"></textarea>
                            <button type="submit" name="btnQuery">Run Query</button>
                        </form>
                    </div>
                </div>


                <div class="col-md-12 col-lg-12 row main-right ">
                    <div class="panel panel-default table-responsive scroll2" style=" position: relative; overflow-x: scroll;">
                        @if (Model != null)
                        {
                            if (Model.Tables.Count > 0)
                            {
                                <table id="tableOne" class="display" width="100%" cellspacing="0">
                                    <thead>

                                        <tr>
                                            @foreach (DataColumn c in Model.Tables[0].Columns)
                                            {
                                                <th><a href='#' title="Click Header to Sort"> @c.ColumnName</a></th>
                                            }

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (DataRow dtr in Model.Tables[0].Rows)
                                        {
                                            <tr>
                                                @foreach (DataColumn c in Model.Tables[0].Columns)
                                                {
                                                    <td> @dtr[c.ColumnName]</td>
                                                }
                                            </tr>
                                        }

                                    </tbody>
                                </table>

                                <div id="pagerOne" class="pager">
                                    <img src="http://mottie.github.com/tablesorter/addons/pager/icons/first.png" class="first" />
                                    <img src="http://mottie.github.com/tablesorter/addons/pager/icons/prev.png" class="prev" />
                                    <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                                    <img src="http://mottie.github.com/tablesorter/addons/pager/icons/next.png" class="next" />
                                    <img src="http://mottie.github.com/tablesorter/addons/pager/icons/last.png" class="last" />
                                    <select class="pagesize">
                                        <option selected="selected" value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="40">40</option>
                                    </select>
                                </div>

                            }
                            else
                            {<span class="has-error">
                                @ViewBag.ErrorMessage
                            </span> }
                        }
                    </div>
                </div>




            </div>
        </div>
    </div>
</div>
