﻿@model TBScripts.Models.BookSectionModel

@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_TBMainLayout.cshtml";
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
}



<script type="text/javascript">
    $(document).ready(function ($) {
        var TeamDetailPostBackURL = '/SystemAdmin/InsertSection';
        $('#example').tablesorter({
            theme: 'blue',
            widthFixed: true,
            // widgets: ['filter']
        }).tablesorterPager({
            container: $("#pager"),
            output: '{startRow} to {endRow} ({totalRows})',
            updateArrows: true,
            removeRows: false
        });

        //$("#example").tablesorter({ widthFixed: true, widgets: ['zebra'] }).tablesorterPager({ container: $("#pager") });

        $(function () {
            $(".anchorDetail").click(function () {
                debugger;
                var $buttonClicked = $(this);
                var bookId = $('#hdnBookId').val();
                var bookName = $("#hdnBookName").val();

                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                if (id==undefined) { id = 0; }
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "SectionId": id, "BookId": bookId, "BookTitle": bookName },
                    datatype: "json",
                    success: function (data) {
                        debugger;
                        $('#myModalContent').html(data);  //Bind Partial Here
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');


                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });


            $("#closbtn").click(function () {
                debugger;
                $('#myModal').modal('hide');
            });

        });

        $(function () {
            $("#btnSubmit").click(function () {
                //alert("sudha");
                debugger;
                if ($("#createForm").valid()) {
                    alert("Yes");

                }
                else {
                    alert("No");
                    return false;
                }

            });
        });


    });





</script>


<script>



</script>

@Html.Partial("~/Views/Shared/_TBSystemAdmin.cshtml")


<div class="col-med-5 col-lg-9 row main-right ">
    <div class="panel panel-default systemAdminDiv">

        <div class="MainForm">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <h2 class="marginTop">Sections for @Model.BookTitle</h2>
                </div>
                <div class="col-md-6 col-lg-6 pull-right text-right add-field">
                    <input type="button" id="btnAddSection" name="btnAddSection" value="Add Section" class="btn btn-primary anchorDetail" data-id="0" />
                    <input type="hidden" id="hdnBookId" name="hdnBookId" value="@Model.BookId" />
                    <input type="hidden" id="hdnBookName" name="hdnBookName" value="@Model.BookTitle" />
                </div>
            </div>
        </div>


        <div class="form-horizontal">
            <div class="col-md-12 col-lg-12 row main-right ">
                <div class="panel panel-default table-responsive">
                    <table id="example" class="display" width="100%" cellspacing="0">
                        <thead>
                            <tr>

                                <th style="width:5%;"></th>
                                <th>Book Title</th>
                                <th>Section Title</th>


                            </tr>
                        </thead>


                        @foreach (var item in Model.Sections)
                        {
                            <tr>
                                <td>

                                    @*<a href='@Url.Action("Sections", "SystemAdmin", new { SectionId = item.SectionId, BookId = item.BookId, BookTitle = item.BookTitle })'>
                                        <input type="image" src="~/Content/pic/images/icon_edit.gif" style="cursor:pointer;" />
                                    </a>

                                    <a href='@Url.Action("Sections", "SystemAdmin", new { SectionId = item.SectionId, BookId = item.BookId, BookTitle = item.BookTitle })'>
                                        <input type="image" src="~/Content/pic/images/icon_delete.gif" style="cursor:pointer;" />
                                    </a>*@

                                    <input type="image" src="~/Content/pic/images/icon_edit.gif" style="cursor:pointer;" class="anchorDetail" data-id="@item.SectionId" />

                                    @*<input type="image" src="~/Content/pic/images/icon_delete.gif" style="cursor:pointer;"
                                            onclick="return confirm('Are you sure you would like to accept this reply as your favor?');" />*@

                                    <a href='@Url.Action("DeleteSection", "SystemAdmin", new { SectionId = item.SectionId, BookId = item.BookId, BookTitle = item.BookTitle })'>
                                        <input type="image" src="~/Content/pic/images/icon_delete.gif" style="cursor:pointer;" onclick="return confirm('Are you sure you want to delete a section like to accept this reply as your favor?');" />
                                    </a>


                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BookTitle)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.SectionTitle)
                                </td>


                            </tr>
                        }

                    </table>

                    @if (Model.Sections.Count() > 10)
                    {
                        <div id="pager" class="pager">
                            <form>
                                <img src="http://mottie.github.com/tablesorter/addons/pager/icons/first.png" class="first" />
                                <img src="http://mottie.github.com/tablesorter/addons/pager/icons/prev.png" class="prev" />
                                <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                                <img src="http://mottie.github.com/tablesorter/addons/pager/icons/next.png" class="next" />
                                <img src="http://mottie.github.com/tablesorter/addons/pager/icons/last.png" class="last" />
                                <select class="pagesize">
                                    <option selected="selected" value="10">10</option>

                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                </select>
                            </form>


                        </div>
                    }


                </div>
            </div>
        </div>

    </div>
</div>

@*<div id='myModal' class='modal'>
        <div class="modal-content">
            <div id='myModalContent'>
                <button id="closbtn" name="closbtn" value="Close" class="btn btn-primary"></button>
            </div>

        </div>

    </div>*@

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Section</h4>
            </div>
            <div class="modal-body">
                <div id='myModalContent'>
                    <!-- Binding partial view from jquery-->
                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" id="btncancel" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <input type="submit" id="btnSubmit" name="btnSubmit" value="Save" class="btn btn-primary" />
                </div>*@
        </div>
    </div>

</div>
