﻿@*@model IList<TBScripts.Models.SiteBookModel>*@

@model TBScripts.Models.SiteBookListModel

@{
    ViewBag.Title = "Site Books";
    Layout = "~/Views/Shared/_TBMainLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function ($) {

        $('#example').tablesorter({
            theme: 'blue',
            widthFixed: true,
            // widgets: ['filter']
        }).tablesorterPager({
            container: $("#pager"),
            output: '{startRow} to {endRow} ({totalRows})',
            updateArrows: true,
            removeRows: false
        });



        $(function () {
            $(".addSiteBook").click(function () {
                var TeamDetailPostBackURL = '/SystemAdmin/PartialViewAddSiteBooks';
                debugger;
                var $buttonClicked = $(this);
                var siteId = $('#hdnSited').val();
                var siteName = $("#hdnSiteName").val();

                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                if (id == undefined) { id = 0; }
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "SiteId": siteId, "SiteName": siteName, "BookId": id },
                    datatype: "json",
                    success: function (data) {
                        debugger;
                        $('#myModalContent').html(data);  //Bind Partial Here
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');


                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });


            $("#closbtn").click(function () {
                debugger;
                $('#myModal').modal('hide');
            });

        });


        $(function () {
            $("#btnSubmit").click(function () {
                //alert("sudha");
                debugger;
                if ($("#saveSiteBook").valid()) {
                    alert("Yes");

                }
                else {
                    alert("No");
                    return false;
                }

            });
        });

    

    });  //end of document.ready

</script>

@Html.Partial("~/Views/Shared/_TBSystemAdmin.cshtml")

<div class="col-med-5 col-lg-9 row main-right ">
    <div class="panel panel-default systemAdminDiv">

        <div class="MainForm">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <h2 class="marginTop">Site Books</h2>
                </div>
                <div class="col-md-6 col-lg-6 pull-right text-right add-field">


                    <a href='@Url.Action("ViewSites", "SystemAdmin")'><span class="btn btn-primary" >Back</span> </a>
                    <input type="button" value="Add Book" id="btnAddBooks" name="btnAddBooks" class="btn btn-primary addSiteBook" data-id="0" />
                    <input type="hidden" id="hdnSited" name="hdnSited" value="@Model.SiteId" />
                    <input type="hidden" id="hdnSiteName" name="hdnSiteName" value="@Model.SiteName" />
                    @*</a>*@
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="col-md-12 col-lg-12 row main-right ">
                <div class="panel panel-default table-responsive">
                    <table id="example" class="display" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.BookTitle)*@
                                    Book Title
                                </th>




                            </tr>
                        </thead>

                        <tbody>

                            @foreach (var item in Model.SiteBooks)
                            {
                                <tr>
                                    <td>

                                        <input type="image" src="~/Content/pic/images/icon_edit.gif" style="cursor:pointer;" data-id="@item.BookId" class="addSiteBook" />


                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BookTitle)

                                        @*<td>
                                            <a href='@Url.Action("SiteBooks", "SystemAdmin", new { SiteId = item.SiteId, SiteName = item.SiteName })'>
                                                Site Books
                                            </a>*@

                                    </td>


                                </tr>
                            }
                        </tbody>
                    </table>

                    <div id="pager" class="pager">
                        <form>
                            <img src="http://mottie.github.com/tablesorter/addons/pager/icons/first.png" class="first" />
                            <img src="http://mottie.github.com/tablesorter/addons/pager/icons/prev.png" class="prev" />
                            <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                            <img src="http://mottie.github.com/tablesorter/addons/pager/icons/next.png" class="next" />
                            <img src="http://mottie.github.com/tablesorter/addons/pager/icons/last.png" class="last" />
                            <select class="pagesize">
                                <option selected="selected" value="10">10</option>

                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                            </select>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Section</h4>
            </div>
            <div class="modal-body">
                <div id='myModalContent'>
                    <!-- Binding partial view from jquery-->
                </div>
            </div>

        </div>
    </div>

</div>