﻿@model IEnumerable<TBScripts.Models.PersonModel>

@{
    ViewBag.Title = "UserCredentials";
    Layout = "~/Views/Shared/_TBMainLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function ($) {

        $('#example').tablesorter({
            theme: 'blue',
            widthFixed: true,
            // widgets: ['filter']
        }).tablesorterPager({
            // target the pager markup - see the HTML block below
            container: $("#pager"),
            output: '{startRow} to {endRow} ({totalRows})',
            updateArrows: true,
            removeRows: false

        });

        $("#btnQuery").click(function(){
            if ($("#txtlastname").val() == '' && $("#txtfirstname").val() == '')
            {
                alert("Please enter first name or last name");
                return false;
            }
        })

    });




</script>



@Html.Partial("~/Views/Shared/_TBSystemAdmin.cshtml")

<div class="col-med-5 col-lg-9 row main-right ">
    <div class="panel panel-default systemAdminDiv">

        <div class="MainForm">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <h2 class="marginTop">User Credentials</h2>
                </div>

               
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-12 ">


                    <form method="post" action="@Url.Action("UserCredentials")">

                        First Name:<input type="text" name="txtfirstname" id="txtfirstname" value="@ViewBag.firstname" />
                        Last Name:<input type="text" name="txtlastname" id="txtlastname" value="@ViewBag.lastname" />

                        <input type="submit" value="Get Credentials" id="btnQuery" name="btnQuery" class="btn btn-primary" />


                    </form>

                </div>
            </div>
        </div>

        @if (Model.Count() > 0)
        {

            <div class="form-horizontal">
                <div class="col-md-12 col-lg-12 row main-right ">
                    <div class="panel panel-default table-responsive">
                        <table id="example" class="display" width="100%" cellspacing="0">
                            <thead>

                                <tr>

                                    <th>
                                        Site Name
                                    </th>
                                    <th>
                                        First Name
                                    </th>
                                    <th>
                                        Last Name
                                    </th>
                                    @*<th>Email Address</th>*@
                                    <th>
                                        Login Id
                                    </th>
                                    <th>
                                        Password
                                    </th>
                                    <th>
                                        IsActive
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        @*<td>
                                                @Html.DisplayFor(modelItem => item.personId)
                                            </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.siteName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.firstName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.lastName)
                                        </td>

                                        @*<td>
                                            @Html.DisplayFor(modelItem => item.emailAddress)
                                        </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.loginId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.password)
                                        </td>

                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.isActive)*@
                                            @item.isActive
                                        </td>
                                      

                                            @*@if (item.isActive)
                                            {
                                                <td>True</td>
                                            }
                                            else
                                            {
                                                <td>False</td>
                                            }*@

                                           

                                    </tr>
                                }

                            </tbody>

                        </table>

                        <div id="pager" class="pager">
                            <form>
                                <img src="http://mottie.github.com/tablesorter/addons/pager/icons/first.png" class="first" />
                                <img src="http://mottie.github.com/tablesorter/addons/pager/icons/prev.png" class="prev" />
                                <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                                <img src="http://mottie.github.com/tablesorter/addons/pager/icons/next.png" class="next" />
                                <img src="http://mottie.github.com/tablesorter/addons/pager/icons/last.png" class="last" />
                                <select class="pagesize">
                                    <option selected="selected" value="10">10</option>

                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                </select>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        }


    </div>
</div>


