﻿@model IEnumerable<TBScripts.Models.SiteModel>

@{
    ViewBag.Title = "ViewSites";
    Layout = "~/Views/Shared/_TBMainLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function ($) {
        //  alert('hi');
        $('#example').tablesorter({
            theme: 'blue',
            widthFixed: true,
            widgets: ['filter']
        }).tablesorterPager({
            // target the pager markup - see the HTML block below
            container: $("#pager"),

            // output string - default is '{page}/{totalPages}';
            // possible variables:
            // {page}, {totalPages}, {startRow}, {endRow} and {totalRows}
            output: '{startRow} to {endRow} ({totalRows})',

            // apply disabled classname to the pager arrows when
            // the rows at either extreme is visible - default is true
            updateArrows: true,

            // remove rows from the table to speed up the sort of large
            // tables. setting this to false, only hides the non-visible rows;
            // needed if you plan to add/remove rows with the pager enabled.
            removeRows: false

        });

        //$("#example").tablesorter({ widthFixed: true, widgets: ['zebra'] }).tablesorterPager({ container: $("#pager") });


    });




</script>



@Html.Partial("~/Views/Shared/_TBSystemAdmin.cshtml")

<div class="col-med-5 col-lg-9 row main-right ">
    <div class="panel panel-default systemAdminDiv">

        <div class="MainForm">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <h2 class="marginTop">Sites</h2>
                </div>
                <div class="col-md-6 col-lg-6 pull-right text-right add-field">
                    <input type="text" placeholder="Search Customer" id="txtSearch" name="txtSearch" />

                    <a href='@Url.Action("AddSite", "SystemAdmin", new { SiteId = 0 })'>
                        <input type="button" value="Add" id="btnAdd" name="btnAdd" class="btn btn-primary" />
                    </a>
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="col-md-12 col-lg-12 row main-right ">
                <div class="panel panel-default table-responsive">
                    <table id="example" class="display" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SiteNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SiteName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CustomerId)
                                </th>


                                <th>
                                    @*@Html.DisplayNameFor(model => model.Address1)*@ Address
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.City)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StateId)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.IsActive)
                                </th>
                                <th></th>


                            </tr>
                        </thead>

                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <a href='@Url.Action("AddSite", "SystemAdmin", new { SiteId = item.SiteId })'>
                                            <input type="image" src="~/Content/pic/images/icon_edit.gif" style="cursor:pointer;" />
                                        </a>

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SiteNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SiteName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CustomerName)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address1)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.City)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StateName)
                                    </td>

                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.IsActive)*@
                                        @item.IsActive
                                    </td>

                                    <td>
                                        <a href='@Url.Action("SiteBooks", "SystemAdmin", new { SiteId = item.SiteId, SiteName = item.SiteName })'>
                                           Site Books
                                        </a>

                                    </td>


                                </tr>
                            }
                        </tbody>
                    </table>

                    <div id="pager" class="pager">
                        <form>
                            <img src="http://mottie.github.com/tablesorter/addons/pager/icons/first.png" class="first" />
                            <img src="http://mottie.github.com/tablesorter/addons/pager/icons/prev.png" class="prev" />
                            <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                            <img src="http://mottie.github.com/tablesorter/addons/pager/icons/next.png" class="next" />
                            <img src="http://mottie.github.com/tablesorter/addons/pager/icons/last.png" class="last" />
                            <select class="pagesize">
                                <option selected="selected" value="10">10</option>

                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                            </select>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




