﻿@*@model IEnumerable<TBScripts.Models.ProductLineModel>*@

@model TBScripts.Models.ListProductLineTypeModel

@{
    ViewBag.Title = "ViewProductLine";
    Layout = "~/Views/Shared/_TBMainLayout.cshtml";
}



@Html.Partial("~/Views/Shared/_TBSystemAdmin.cshtml")

<script type="text/javascript">
    $(document).ready(function ($) {
        //  alert('hi');
        $('#example').tablesorter({
            theme: 'blue',
            widthFixed: true,
            // widgets: ['filter']
        }).tablesorterPager({
            // target the pager markup - see the HTML block below
            container: $("#pager"),

            // output string - default is '{page}/{totalPages}';
            // possible variables:
            // {page}, {totalPages}, {startRow}, {endRow} and {totalRows}
            output: '{startRow} to {endRow} ({totalRows})',

            // apply disabled classname to the pager arrows when
            // the rows at either extreme is visible - default is true
            updateArrows: true,

            // remove rows from the table to speed up the sort of large
            // tables. setting this to false, only hides the non-visible rows;
            // needed if you plan to add/remove rows with the pager enabled.
            removeRows: false

        });

        //$("#example").tablesorter({ widthFixed: true, widgets: ['zebra'] }).tablesorterPager({ container: $("#pager") });

        $('#divAdd').dialog({
            autoOpen: false,
            height: 500,
            width: 700,
            modal: false
        });

        $("#btnAddProduct").click(function () {
            $('#divAdd').dialog('open');
            $('#hdnProdId').val();
        });

        $("#btnClose").click(function () {
            $('#divAdd').dialog('close');
        });


    });

    ShowModelPopUp = function () {
        window.showModalDialog('../Home/about', "WindowPopup", 'width=400px,height=400px');
        window
    }



</script>


<div class="col-med-5 col-lg-9 row main-right ">
    <div class="panel panel-default systemAdminDiv">

        <div class="MainForm">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <h2 class="marginTop">View ProductLine</h2>
                </div>
                @*<div class="col-md-6 col-lg-6 pull-right text-right add-field">
                    <input type="button" id="btnAddProduct" name="btnAddProduct" value="Add" class="btn btn-primary" />  
                </div>*@
            </div>
        </div>


        <div class="form-horizontal">
            <div class="col-md-12 col-lg-12 row main-right ">
                <div class="panel panel-default table-responsive">
                    <table id="example" class="display" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                @*<th>
                                        @Html.DisplayNameFor(model => model.ProductLineId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProductLineDesc)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProductLineTypeId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.strProductLineTypeDesc)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CopyrightDesc)
                                    </th>*@
                                @*<th></th>*@

                                <th>Product Line Desc</th>
                                <th>Product Line Type</th>
                                <th>Copyright ()</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Product Line Desc</th>
                                <th>Product Line Type</th>
                                <th>Copyright ()</th>
                            </tr>
                        </tfoot>

                        @foreach (var item in Model.lstProductLine)
            {
                        <tr>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.ProductLineId)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductLineDesc)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.ProductLineTypeId)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.strProductLineTypeDesc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CopyrightDesc)
                            </td>
                            @*<td>
                                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                </td>*@
                        </tr>
            }

                    </table>

                    <div id="pager" class="pager">
                        <form>
                            <img src="http://mottie.github.com/tablesorter/addons/pager/icons/first.png" class="first" />
                            <img src="http://mottie.github.com/tablesorter/addons/pager/icons/prev.png" class="prev" />
                            <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                            <img src="http://mottie.github.com/tablesorter/addons/pager/icons/next.png" class="next" />
                            <img src="http://mottie.github.com/tablesorter/addons/pager/icons/last.png" class="last" />
                            <select class="pagesize">
                                <option selected="selected" value="10">10</option>

                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                            </select>
                        </form>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div id="divAdd" class="table-responsive">

    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-4">
                        Product Line Desc :
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtProdName" name="txtProdName">
                        <input type="hidden" id="hdnProdId" name="hdnProdId">
                        <span id="reqName" style="color:red;display:none;">Description required.</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-4">
                        ProductLine Type :
                    </div>
                    <div class="col-md-8">
                        @*<select id="selProductLine" name="selProductLine" ></select>*@

                        @Html.DropDownListFor(m => m.LineType, new SelectList(Model.lstProductLineType, "ProductLineTypeId", "ProductLineTypeDesc"), new { @class="form-control"})
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-4">
                        Copy Right :
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtCopyright" name="txtCopyright">
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">

                    <div class="col-md-8">
                        <input type="submit" value="Create" id="btnsubmit" name="btnsubmit" class="btn btn-primary btnpadding " />
                        <input type="button" value="Close" class="btn btn-danger btnpadding" id="btnClose" name="btnClose" />
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

