﻿@model IEnumerable<TBScripts.Models.CustomerModel>

@{
    ViewBag.Title = "ViewCustomer";
    Layout = "~/Views/Shared/_TBMainLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function ($) {
        //  alert('hi');
        $('#example').tablesorter({
            theme: 'blue',
            widthFixed: true,
            // widgets: ['filter']
        }).tablesorterPager({
            // target the pager markup - see the HTML block below
            container: $("#pager"),

            // output string - default is '{page}/{totalPages}';
            // possible variables:
            // {page}, {totalPages}, {startRow}, {endRow} and {totalRows}
            output: '{startRow} to {endRow} ({totalRows})',

            // apply disabled classname to the pager arrows when
            // the rows at either extreme is visible - default is true
            updateArrows: true,

            // remove rows from the table to speed up the sort of large
            // tables. setting this to false, only hides the non-visible rows;
            // needed if you plan to add/remove rows with the pager enabled.
            removeRows: false

        });

        //$("#example").tablesorter({ widthFixed: true, widgets: ['zebra'] }).tablesorterPager({ container: $("#pager") });


    });

    ShowModelPopUp = function () {
        window.showModalDialog('../Home/about', "WindowPopup", 'width=400px,height=400px');
        window
    }



</script>


@Html.Partial("~/Views/Shared/_TBSystemAdmin.cshtml")

<div class="col-med-5 col-lg-9 row main-right ">
    <div class="panel panel-default systemAdminDiv">

        <div class="MainForm">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <h2 class="marginTop">Customers</h2>
                </div>
                <div class="col-md-6 col-lg-6 pull-right text-right add-field">
                    <input type="text" placeholder="Search Customer" id="txtSearch" name="txtSearch" />

                    <a href='@Url.Action("AddCustomer", "SystemAdmin",new {custId=0})'>
                        <input type="button" value="Add" id="btnAdd" name="btnAdd" class="btn btn-primary" />
                    </a>
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="col-md-12 col-lg-12 row main-right ">
                <div class="panel panel-default table-responsive">

                    <table id="example" class="display" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width:5%;"></th>
                                <th>Customer Name</th>
                                <th>IsActive</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>Street</th>
                                <th>Notes</th>

                            </tr>
                        </thead>

                        <tfoot>
                            <tr>
                                <th style="width:5%;"></th>
                                <th>Customer Name</th>
                                <th>IsActive</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>Street</th>
                                <th>Notes</th>
                            </tr>
                        </tfoot>

                        <tbody>


                            @foreach (var obj in Model)
                            {
                                <tr>
                                    <td>

                                        <a href='@Url.Action("AddCustomer", "SystemAdmin", new {custId=obj.CustomerId})'>
                                            <input type="image" src="~/Content/pic/images/icon_edit.gif" style="cursor:pointer;" />
                                        </a>

                                        <a href='@Url.Action("AddCustomer", "SystemAdmin", new {custId=obj.CustomerId})'>
                                            <input type="image" src="~/Content/pic/images/icon_delete.gif" style="cursor:pointer;" />
                                        </a>

                                        @*<img src="~/Content/pic/images/icon_edit.gif"
                                            href='@Url.Action("AddCustomer", "SystemAdmin")' style="cursor:pointer;" />*@


                                        @*<img src="~/Content/pic/images/icon_delete.gif" style="cursor:pointer;" />*@
                                    </td>

                                    @*<td>@obj.FolderId</td>
                                        <td>@obj.FolderName</td>*@
                                    @*@Html.TextBoxFor(m => obj.SortSeq, obj.SortSeq)</td>*@



                                    <td>@obj.CustomerName </td>
                                    <td>@obj.IsActive</td>
                                    <td>@obj.Address1</td>
                                    <td>@obj.City</td>
                                    <td>@obj.Address2</td>
                                    <td>@obj.Notes</td>




                                </tr>
                            }



                        </tbody>


                    </table>


                    <div id="pager" class="pager">
                        <form>
                            <img src="http://mottie.github.com/tablesorter/addons/pager/icons/first.png" class="first" />
                            <img src="http://mottie.github.com/tablesorter/addons/pager/icons/prev.png" class="prev" />
                            <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                            <img src="http://mottie.github.com/tablesorter/addons/pager/icons/next.png" class="next" />
                            <img src="http://mottie.github.com/tablesorter/addons/pager/icons/last.png" class="last" />
                            <select class="pagesize">
                                <option selected="selected" value="10">10</option>

                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                            </select>
                        </form>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

