﻿@model TBScripts.DAL.FileCoversheet

<script src="@Url.Content("~/Scripts/tinymce/tinymce.js")" type="text/javascript"></script>


<style type="text/css">
    .notescontent {
        display: block;
        margin-left: 6px;
        margin-bottom: 10px;
        float: left;
        width: 57%;
    }
</style>

<script type="text/javascript">
    $(document).ready(function ($) {
        (function () {
            tinymce.init({
                mode: "exact",
                elements: "text", //ID for textarea
                //  mode: "textareas",
                // elements: "@ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty)",
                theme: "modern",
                height: 200,
                width: 600,
                plugins: [
                    "  advlist autolink lists link image charmap print preview hr anchor pagebreak",
                    "searchreplace wordcount visualblocks visualchars code fullscreen",
                    "insertdatetime media nonbreaking save table contextmenu directionality",
                    "emoticons template paste textcolor"
                ],
                toolbar1: " insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
                toolbar2: "print preview media | forecolor backcolor emoticons",
                image_advtab: true,
                templates: [
                    { title: 'pre start', content: '<pre><code>' },
                    { title: 'pre end', content: '</code></pre>' }
                ]
            });
        })();

    });

    function UpdateNotes()
    {
        debugger;

        id = 2003;
        name = "test";
        alert("test_su");

        var x = document.getElementById("ifr1");
        //x.setAttribute("src", "http://www.w3schools.com");
        //x.setAttribute("src", "/FolderView/PrintFile?lintBookId=" + id + "&strBookName=" + encodeURI(name) + "");

        var serviceURL = ""
        var serviceURL = '@Url.Action("AddNoteDetails", "FolderView")';

        var lintIdValue = $("#Id").val();
        var lintFileIdValue = $("#FileId").val();
        var lintsiteidValue = $("#SiteId").val();
        var strDescriptionValue = $("#Description").val();
        var strtextValue = tinymce.get("Text").getContent();
        alert(strtextValue);

        if (strtextValue == '' || strtextValue == null) {
            alert('Please enter notes ');
            return false;
        }

        $.ajax({
            type: "POST",
            url: serviceURL,
            data: { lintId: lintIdValue, lintFileId: lintFileIdValue, lintsiteid: lintsiteidValue, strDescription: strDescriptionValue, strtext: strtextValue }
        }).done(function (data) {
            //alert(data);
            successFunc(data, status);

        }).error(function () {
            alert('Error');
        });


        function successFunc(data, status) {
            alert("Notes added successfully");
            // $("#strBookTitle").val('');
        }

        function errorFunc() {
            alert('error');
        }


        //window.frames["ifr1"].focus();
        //window.frames["ifr1"].print();

    }
</script>

<div style="border-bottom: 1px solid #ccc;display: inline-block;margin-bottom: 20px;padding: 15px 0;width: 100%;">

    <div style="float:left; width:80%;">
        <img src="../Images/PH/icon_show_table_big.gif" width="32" height="32"><strong>Add Coversheet</strong>

    </div>
   
</div>



<div style="clear:both"></div>
<div class="notescontent">
    <div class="content1-sub">
       
        Patient Name:
    </div>
    <div style="float:left;width:30%">
        @Html.EditorFor(model => model.name)
       
    </div>
</div>

<div style="clear:both"></div>
<div class="notescontent">
    <div class="content1-sub">
       Coversheet Text :
    </div>
    <div style="float:left;width:30%">
        @Html.EditorFor(model => model.text, new { @class = "test" })
      
    </div>
</div>


<div style="clear:both"></div>
<div class="notescontent">
    <div class="content1-sub">
        &nbsp;
    </div>
    <div style="float:left;width:30%">
     
        <input type="button" value="Print" id="btnPrint" name="btnPrint" class="btn btn-primary" onclick="UpdateNotes();" /> &nbsp;
        @*<input type="button" value="Cancel" id="btnCancel" name="btnCancel" class="btn btn-primary" onclick="gobackViewContert();" />*@
    </div>
</div>







