﻿@model TBScripts.Models.SiteBookModel



<script>
    //this code goes in your partialview
    $(function () {
        //allow the validation framework to re-prase the DOM
        jQuery.validator.unobtrusive.parse();

        //or to give the parser some context, supply it with a selector
        //jQuery validator will parse all child elements (deep) starting
        //from the selector element supplied
        jQuery.validator.unobtrusive.parse("#saveSiteBook");
    });


    $(function () {
        $("#BookId").change(function () {
            var selValue = $(this).find(":selected").val();
            if (selValue) {
                var TeamDetailPostBackURL = '/SystemAdmin/IsBookExistForSite';
                debugger;
           
                var siteId = $('#hdnSited').val();
             
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "SiteId": siteId, "BookId": selValue },
                    datatype: "json",
                    success: function (data) {
                        debugger;
                        if (data > 0) {
                            alert("Already exist,please select another book");
                         
                            $("#btnSubmit").attr("disabled", "disabled");
                        }
                        else {
                            $("#btnSubmit").removeAttr("disabled");
                        }
                       
                      
                    },
                    error: function () {
                       alert("Dynamic content load failed.");
                        
                    }
                });
            }
           
        })

    });

</script>

@using (Html.BeginForm("PartialViewAddSiteBooks", "SystemAdmin", FormMethod.Post, new { @id = "saveSiteBook" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-horizontal">


        @Html.HiddenFor(m => m.SiteId)
        @Html.HiddenFor(model => model.OldBookId)
        @Html.HiddenFor(model => model.SiteName)



        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-4">
                        @*@Html.LabelFor(model => model.BookTitle, htmlAttributes: new { @class = "control-label " })*@
                        <span class="control-label">Book</span>
                    </div>
                    <div class="col-md-8">
                        @*@Html.TextBoxFor(model => model.SectionTitle, htmlAttributes: new { @class = "form-control" })*@

                        @Html.DropDownListFor(model => model.BookId, new SelectList(Model.Books, "BookId", "BookTitle"), "--- Select ---", new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.BookId, null, new { @class = "text-danger" })

                        @*@Html.ValidationMessageFor(model => model.SectionTitle, null, new { @class = "text-danger" })*@
                    </div>
                </div>
            </div>
        </div>



      

        <div class="modal-footer">
            <button type="button" id="btncancel" class="btn btn-danger" data-dismiss="modal">Close</button>
            <input type="submit" id="btnSubmit" name="btnSubmit" value="Save" class="btn btn-primary" />
        </div>


    </div>
}

