﻿@*@model List<TBScripts.Models.TreeViewModel>*@
@model TBScripts.Models.Mymodel
@using TBScripts.Models;

<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="~/Content/css/tbcustom2.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">


@{
    int lintPrvBookId = 0;
    Mymodel m = new Mymodel();
    List<TreeViewModel> t = new List<TreeViewModel>();
    t = Model.treeViewModel;
  


    <div class="col-med-2 col-lg-2 navtree" style="width:200px; height:360px;overflow-x:hidden;overflow-y:auto">

        <div class="list-group" style="width:200px;">
            <a href="#" class="list-group-item active">
                <span class="glyphicon glyphicon-book"></span> The Teaching Book <span class="badge"></span>
            </a>
            @foreach (var book in t)  
            {
                if (book.intBookId != lintPrvBookId)
                {
                    <a class="list-group-item" href=@Url.Action("Browse2", "TreeView", new { lintBookId = book.intBookId}) >
                      
                        <span class="glyphicon glyphicon-file"></span>@book.strBookTitle
                    </a>
                    if (book.intSiteId > 0)
                    {

                        <a class="list-group-item" href=@Url.Action("Browse2", "TreeView", new { lintBookId = book.intBookId}) >
                         
                            <span class="glyphicon glyphicon-file" style="margin-left:10px;"></span>@book.strSectionTitle@*<span class="badge">##</span>*@
                        </a>
                    }
                   
                }
                else
                {
                    if (book.intSiteId > 0)
                    {

                        <a class="list-group-item" href=@Url.Action("Browse2", "TreeView", new { lintBookId = book.intBookId})>
                         
                            <span class="glyphicon glyphicon-file" style="margin-left:10px;"></span>@book.strSectionTitle@*<span class="badge">##</span>*@
                        </a>
                    }
                }
                lintPrvBookId = book.intBookId;
            }
          
        </div>
    </div>

    <div>
        <br />
        <strong>Selected File:</strong>
        @Model.Name<br>
        <br>
        Please select a Folder from the tree on the left. After highlighting the
        folder, click the "Add" button to link the selected file to the folder.
        <br>
        <br>
        Click "Cancel" to close this dialog without linking the file.
        <br />
        <input name="cmdSubmit" type="button" class="button_medium" value="Add">
        <input name="cmdCancel" type="button" class="button_medium" value="Cancel">

    </div>

}



