﻿@model List<TBScripts.DAL.FileCoversheet>



<link href="@Url.Content("~/JsTableSorter/theme.blue.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/JsTableSorter/jquery.tablesorter.js")" type="text/javascript"></script>
<script src="@Url.Content("~/JsTableSorter/jquery.tablesorter.pager.js")" type="text/javascript"></script>
<script src="@Url.Content("~/JsTableSorter/jquery.tablesorter.widgets.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function ($) {
        //  alert('hi');
        $('#example').tablesorter({
            theme: 'blue',
            widthFixed: true,
            // widgets: ['filter']
        }).tablesorterPager({
            // target the pager markup - see the HTML block below
            container: $("#pager"),

            // output string - default is '{page}/{totalPages}';
            // possible variables:
            // {page}, {totalPages}, {startRow}, {endRow} and {totalRows}
            output: '{startRow} to {endRow} ({totalRows})',

            // apply disabled classname to the pager arrows when
            // the rows at either extreme is visible - default is true
            updateArrows: true,

            // remove rows from the table to speed up the sort of large
            // tables. setting this to false, only hides the non-visible rows;
            // needed if you plan to add/remove rows with the pager enabled.
            removeRows: false

        });

        //$("#example").tablesorter({ widthFixed: true, widgets: ['zebra'] }).tablesorterPager({ container: $("#pager") });


    });
</script>


<div style="border-bottom: 1px solid #ccc;display: inline-block;margin-bottom: 20px;padding: 15px 0;width: 100%;">

    <div style="float:left; width:80%;">
        <img src="../Images/PH/icon_show_table_big.gif" width="32" height="32"><strong>Previously Printed Coversheets </strong>

    </div>
    @*<div style="float:left; width:20%; text-align:right;">
            <input type="button" name="btnAddNote" id="btnAddNote" value="Add Note">
        </div>*@



</div>

<table id="example" class="display" width="100%" cellspacing="0">
    <thead>
        <tr width="100%" >
            <th style="text-align:center;">Coversheet Text </th>
        </tr>
    </thead>


    <tbody>


        @foreach (var obj in Model)
            {
                <tr>
                    
                    <td>@obj.text</td>

                </tr>
            }

       

    </tbody>


</table>