﻿@model TBScripts.Models.NotesModel

<script src="@Url.Content("~/Scripts/tinymce/tinymce.js")" type="text/javascript"></script>


<style type="text/css">
    .notescontent {
        display: block;
        margin-left: 6px;
        margin-bottom: 10px;
        float: left;
        width: 57%;
    }
</style>

<script type="text/javascript">
    $(document).ready(function ($) {
        (function () {
            tinymce.init({
                mode: "exact",
                elements: "Text", //ID for textarea
                //  mode: "textareas",
                // elements: "@ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty)",
                theme: "modern",
                height: 200,
                width: 600,
                plugins: [
                    "  advlist autolink lists link image charmap print preview hr anchor pagebreak",
                    "searchreplace wordcount visualblocks visualchars code fullscreen",
                    "insertdatetime media nonbreaking save table contextmenu directionality",
                    "emoticons template paste textcolor"
                ],
                toolbar1: " insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
                toolbar2: "print preview media | forecolor backcolor emoticons",
                image_advtab: true,
                templates: [
                    { title: 'pre start', content: '<pre><code>' },
                    { title: 'pre end', content: '</code></pre>' }
                ]
            });
        })();

    });

    function UpdateNotes()
    {
        debugger;
       

        var serviceURL = ""
        var serviceURL = '@Url.Action("AddNoteDetails", "FolderView")';

        var lintIdValue = $("#Id").val();
        var lintFileIdValue = $("#FileId").val();
        var lintsiteidValue = $("#SiteId").val();
        var strDescriptionValue = $("#Description").val();
        var strtextValue = tinymce.get("Text").getContent();
        alert(strtextValue);

        if (strtextValue == '' || strtextValue == null) {
            alert('Please enter notes ');
            return false;
        }

        $.ajax({
            type: "POST",
            url: serviceURL,
            data: { lintId: lintIdValue, lintFileId: lintFileIdValue, lintsiteid: lintsiteidValue, strDescription: strDescriptionValue, strtext: strtextValue }
        }).done(function (data) {
            //alert(data);
            successFunc(data, status);

        }).error(function () {
            alert('Error');
        });


        function successFunc(data, status) {
            alert("Notes added successfully");
            // $("#strBookTitle").val('');
        }

        function errorFunc() {
            alert('error');
        }
        
    }
</script>

<div style="border-bottom: 1px solid #ccc;display: inline-block;margin-bottom: 20px;padding: 15px 0;width: 100%;">

    <div style="float:left; width:80%;">
        <img src="../Images/PH/icon_show_table_big.gif" width="32" height="32"><strong>File Notes</strong>

    </div>
    @*<div style="float:left; width:20%; text-align:right;">
        <input type="button" name="btnAddNote" id="btnAddNote" value="Add Note">
    </div>*@
</div>



<div style="clear:both"></div>
<div class="notescontent">
    <div class="content1-sub">
        @Html.LabelFor(model => model.Description) :
    </div>
    <div style="float:left;width:30%">
        @Html.EditorFor(model => model.Description)
        @Html.ValidationMessageFor(model => model.Description)

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.FileId)
        @Html.HiddenFor(model => model.SiteId)
    </div>
</div>

<div style="clear:both"></div>
<div class="notescontent">
    <div class="content1-sub">
        @Html.LabelFor(model => model.Text) :
    </div>
    <div style="float:left;width:30%">
        @Html.EditorFor(model => model.Text, new { @class = "test" })
        @Html.ValidationMessageFor(model => model.Text)
    </div>
</div>


<div style="clear:both"></div>
<div class="notescontent">
    <div class="content1-sub">
        &nbsp;
    </div>
    <div style="float:left;width:30%">
        @*<input type="submit" value="Save" id="btnSave1" name="btnSave1" class="btn btn-primary" />*@
        <input type="button" value="Save" id="btnSave1" name="btnSave1" class="btn btn-primary" onclick="UpdateNotes();" />
    </div>
</div>



@*<table width="100%" cellspacing="0" cellpadding="2" border="1">
        <tr><td width="20%">Note Description</td><td width="80%">testing</td></tr>
        <tr><td width="20%"><strong Content</td><td width="80%">testing</td></tr>
    </table>*@
@*<table id="example" class="display" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th width="10%"></th>
                <th width="60%">Section Id</th>
                <th width="30%">Section Name</th>


            </tr>
        </thead>



        <tbody>



            @if (Model.Id > 0)
            {

                <tr>
                    <td width="10%">
                        <img src="~/Content/pic/images/icon_edit.gif" style="cursor:pointer;" />
                        <img src="~/Content/pic/images/icon_delete.gif" style="cursor:pointer;" />
                    </td>
                    <td width="60%">@Model.Text</td>
                    <td width="30%">@Model.LastUpdateDate</td>


                </tr>
            }



        </tbody>


    </table>*@



