﻿@model TBScripts.Models.PDFViewModel



<script type="text/javascript">


    function ContentView(handoutId,handoutName) {


        $("#divNotes").css("display", "none");
        $("#divContent").css("display", "block");
        $("#divCoversheet").css("display", "none");

        var id = handoutId;
        var name = handoutName

        var url = "@Url.Action("ReturnPartial", "FolderView")";
        //alert(id);
      
        $.ajax({
            type: "POST",
            url: url,
            data: { lintBookId: id,strBookName:name },

            success: successFunc1,
            error: errorFunc1
        });

        function successFunc1(data, status) {
             
            $('#Browse2Tabs').html('');
            $("#Browse2Tabs").tabs();
            $('#Browse2Tabs').html(data);

            //alert(data);
            
        }
        function errorFunc1() {
            alert('error');
        }

    }

    function NotesView(handoutId) {


        $("#divNotes").css("display", "block");
        $("#divContent").css("display", "none");
        $("#divCoversheet").css("display", "none");

        var id = handoutId;

        var url = "@Url.Action("ReturnNotesPartial", "FolderView")";


        $.ajax({
            type: "POST",
            url: url,
            data: { lintBookId: id},

            success: successFunc1,
            error: errorFunc1
        });

        function successFunc1(data, status) {

            $('#divNotes').html('');
            $("#divNotes").tabs();
            $('#divNotes').html(data);

            //alert(data);

        }
        function errorFunc1() {
            alert('error');
        }

    }

    function CoversheetView() {


        $("#divNotes").css("display", "none");
        $("#divContent").css("display", "none");
        $("#divCoversheet").css("display", "block");



        var url = "@Url.Action("ReturnCoverSheetPartial", "FolderView")";
        alert("sudhakar");

        $.ajax({
            type: "POST",
            url: url,
            success: successFunc1,
            error: errorFunc1
        });

        function successFunc1(data, status) {

            $('#divCoversheet').html('');
            $("#divCoversheet").tabs();
            $('#divCoversheet').html(data);

            //alert(data);

        }
        function errorFunc1() {
            alert('error');
        }

    }


    $(document).ready(function () {


        //$(function () {
        //    $("#liViewContent").on("click", function () {

        //        $("#divNotes").css("display", "none");
        //        $("#divContent").css("display", "block");
        //        $("#divCoversheet").css("display", "none");

        //    });
        //});

        @*$(function () {
            $("#liNotes").on("click", function (BookId) {



                $("#divNotes").css("display", "block");
                $("#divContent").css("display", "none");
                $("#divCoversheet").css("display", "none");

                var id = 1;
                var name = 'sudha';
                var url = "@Url.Action("ReturnNotesPartial", "FolderView")";
                alert(id);

                $.ajax({
                    type: "POST",
                    url: url,
                    data: { lintBookId: id,strBookName:name },

                    success: successFunc1,
                    error: errorFunc1
                });

                function successFunc1(data, status) {

                    $('#divNotes').html('');
                    $("#divNotes").tabs();
                    $('#divNotes').html(data);

                    //alert(data);

                }
                function errorFunc1() {
                    alert('error');
                }

            });
        });*@









    });







</script>

<div class="panel panel-default">
    <div class="panel-heading" id="tabs">
        <ul class="nav-main nav-main-tabs" role="tablist">
            <li id="Li-1"><a href="#divContent" id="liViewContent" onclick="ContentView(@Model.Id,'@Model.Name');">View Content</a></li>
            <li id="Li-2"><a href="#divNotes" id="liNotes" onclick="NotesView(@Model.Id);">Notes</a></li>
            <li id="Li-3"><a href="#divCoversheet" id="liCoversheets" onclick="CoversheetView();">Coversheets</a></li>
        </ul>
        <div id="divContent" class="panel-body">

            @Html.Partial("~/Views/Shared/_ViewContentPartial.cshtml", Model)

        </div>



        <div id="divNotes" class="panel-body" style="display:none;">

            @*@Html.Partial("~/Views/Shared/_notesPartial.cshtml")*@

        </div>

        <div id="divCoversheet" class="panel-body" style="display:none;">

            @*@Html.Partial("~/Views/Shared/_coversheetPartial.cshtml")*@

        </div>
    </div>

</div>















