﻿@model TBScripts.Models.SectionModel



<script>
    //this code goes in your partialview
    $(function () {
        //allow the validation framework to re-prase the DOM
        jQuery.validator.unobtrusive.parse();

        //or to give the parser some context, supply it with a selector
        //jQuery validator will parse all child elements (deep) starting
        //from the selector element supplied
        jQuery.validator.unobtrusive.parse("#createForm");
    });

</script>

@using (Html.BeginForm("InsertSection", "SystemAdmin", FormMethod.Post, new { @id = "createForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-horizontal">


        @Html.HiddenFor(m => m.SectionId)
        @Html.HiddenFor(model => model.BookId)
        @Html.HiddenFor(model => model.BookTitle)



        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.SectionTitle, htmlAttributes: new { @class = "control-label " })
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.SectionTitle, htmlAttributes: new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.SectionTitle, null, new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.SortSequence, htmlAttributes: new { @class = "control-label " })
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.SortSequence, htmlAttributes: new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.SortSequence, null, new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <button type="button" id="btncancel" class="btn btn-danger" data-dismiss="modal">Close</button>
            <input type="submit" id="btnSubmit" name="btnSubmit" value="Save" class="btn btn-primary" />
        </div>


    </div>
}

