﻿@model TBScripts.Models.SectionModel



<div class="panel panel-default">
    <div class="panel-heading" id="tabs">
        <ul class="nav-main nav-main-tabs" role="tablist">
            <li id="Li-1"><a href="#divViewSection" id="liViewSection">Edit Section</a></li>  @*onclick="EditSection(@Model.SectionId,'@Model.SectionTitle')*@
            <li id="Li-2"><a href="#divChapaters" id="liChapaters" >Chapaters</a></li>
            <li id="Li-3"><a href="#divFiles" id="liFiles">Files</a></li>
        </ul>
        <div id="divViewSection" class="panel-body">
            @*Edit Section*@

            @Html.Partial("~/Views/Shared/_SectionEditPartial.cshtml", Model)

          

        </div>



        <div id="divChapaters" class="panel-body" style="display:none;">

            @*@Html.Partial("~/Views/Shared/_notesPartial.cshtml")*@

            "Edit divChapaters"

        </div>

        <div id="divFiles" class="panel-body" style="display:none;">

            @*@Html.Partial("~/Views/Shared/_coversheetPartial.cshtml")*@

            "Edit Files"

        </div>
    </div>

</div>
















