﻿@model TBScripts.Models.SectionModel

@*<div style="border-bottom: 1px solid #ccc;display: inline-block;margin-bottom: 20px;padding: 15px 0;width: 100%;">

        <div style="float:left; width:80%;">
            <img src="../Images/PH/icon_show_table_big.gif" width="32" height="32"><strong>Edit Section</strong>

        </div>

    </div>*@



<div style="clear:both"></div>


<div class="notescontent">

    <table class="table">
        <tr><td><img src="../Images/PH/icon_show_table_big.gif" width="20" height="20">&nbsp;&nbsp;<strong>Edit Section</strong></td>
            <td>@Html.EditorFor(model => model.SectionTitle)</td>
            <td>
                <input type="button" value="Save" id="btnEditSection" name="btnEditSection" class="btn btn-primary"/> &nbsp;
            </td>
        </tr>
        <tr>
            <td><strong>Add Section</strong></td>
            <td><input type="text" id="txtAddSection" name="txtAddSection"></td>
            <td><input type="button" value="Add" id="btnAddSection" name="btnAddSection" class="btn btn-primary"/> &nbsp;</td>
        </tr>
    </table>
    @*<div style="width:90%;margin-left:10px;">
            <img src="../Images/PH/icon_show_table_big.gif" width="32" height="32"><strong style="margin:0 35px ">Edit Section</strong>
            @Html.EditorFor(model => model.SectionTitle)
            <input type="button" value="Save" id="btnEditSection" name="btnEditSection" class="btn btn-primary" style="margin:0 100px;text-align:right;height:29px;" /> &nbsp;
        </div>

        <div style="clear:both"></div>

        <div style="width:90%;margin-left:10px;">
            <strong style="margin:0 35px ">Add Section</strong>
            <input type="text" id="txtAddSection" name="txtAddSection">
            <input type="button" value="Add" id="btnAddSection" name="btnAddSection" class="btn btn-primary" style="margin:0 100px;text-align:right;height:29px;" /> &nbsp;
        </div>*@

</div>
