﻿@model TBScripts.Models.SiteModel


<script type="text/javascript">


    function displayToastr(msg, title, type) {
        toastr.options = {
            "closeButton": false,//true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "rtl": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": 300,
            "hideDuration": 1000,
            "timeOut": 5000,
            "extendedTimeOut": 1000,
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        var $toast = toastr[type](msg, title); // Wire up an event handler to a button in the toast, if it exists
        $toastlast = $toast;
    }

    function UpdateSite() {
        debugger;
        //alert(document.getElementById("#SiteName").value);
        //success,info,warning,error
        var msg = "Update Successfully";
        var title = 'Site';
        displayToastr(msg, '', 'success');




    }

</script>



<div class="col-med-5 col-lg-9 row main-right ">
    <div class="panel panel-default systemAdminDiv">

        <div class="MainForm">
            <h2 class="marginTop">Edit My Site</h2>
            @*//$.validator.unobtrusive.parse($('frmID'));  //added*@

            @*@using (Ajax.BeginForm("UpdateSite", "SiteAdmin", new AjaxOptions { HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace, OnSuccess = "UpdateSite", LoadingElementId = "loader" },
                new { enctype = "multipart/form-data" }))*@




            @using (Html.BeginForm("AddSite", "SiteAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {


                @Html.AntiForgeryToken()

                <div class="form-horizontal">


                    <hr />
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(m => m.SiteId)


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.SiteName, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.SiteName, htmlAttributes: new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.SiteName, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.SiteNumber, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.SiteNumber, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SiteNumber, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.CustomerId, new SelectList(Model.lstCustomer, "CustomerId", "CustomerName"), "--- Select ---", new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.CustomerId, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.Address1, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Address1, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Address1, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.Address2, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Address2, htmlAttributes: new { @class = "form-control" })

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.Address3, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Address3, htmlAttributes: new { @class = "form-control" })

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.City, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.City, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.StateId, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">

                                    @Html.DropDownListFor(model => model.StateId, new SelectList(Model.lstStateProvince, "StateId", "StateName"), "--Select--", new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.StateId, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.PostalCode, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.PostalCode, htmlAttributes: new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.PostalCode, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.PhoneNumber, htmlAttributes: new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.PostalCode, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.FaxNumber, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.FaxNumber, htmlAttributes: new { @class = "form-control" })


                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.CheckBoxFor(model => model.IsActive)
                                    @Html.ValidationMessageFor(model => model.IsActive)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.ApplicationHeaderFilePath, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">

                                    <input type="file" name="FileApplicationHeaderFilePath" class="form-control" /><br />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12 text-center">
                                    @*<img src="~/SiteBrands/@Model.BrandFooterFilePath" alt="Logo Here" />*@

                                    <img src="~/SiteBrands/Penguins.jpg" alt="Logo Here" class="img-thumbnail" style="height:110px !important;" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.BrandFooterFilePath, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">

                                    <input type="file" name="FileBrandFooterFilePath" class="form-control" /><br />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12 text-center">
                                    <img src="~/SiteBrands/Penguins.jpg" alt="Logo Here" class="img-thumbnail" style="height:110px !important;" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.BrandHeaderFilePath, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">

                                    <input type="file" name="FileBrandHeaderFilePath" class="form-control" /><br />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12 text-center">
                                    <img src="~/SiteBrands/Penguins.jpg" alt="Logo Here" class="img-thumbnail" style="height:110px !important;" />
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Notes, htmlAttributes: new { @class = "form-control" })

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    &nbsp;
                                </div>
                                <div class="col-md-8 text-right">
                                    <input type="submit" value="Update" class="btn btn-primary btnpadding " />
                                    @*<input id="btnUpdate" name="btnUpdate" type="button" value="Update" class="btn btn-primary btnpadding " />*@
                                    <input type="button" value="Cancel" class="btn btn-danger btnpadding " onclick="location.href='@Url.Action("ViewSites", "SystemAdmin")'" />

                                </div>

                            </div>
                        </div>


                    </div>

                </div>
            }



        </div>
    </div>
</div>








