﻿@model TBScripts.Models.PersonModel


<script type="text/javascript">
    $(document).ready(function () {


    });

    function displayToastr(msg, title, type) {
        toastr.options = {
            "closeButton": false,//true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "rtl": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": 300,
            "hideDuration": 1000,
            "timeOut": 5000,
            "extendedTimeOut": 1000,
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        var $toast = toastr[type](msg, title); // Wire up an event handler to a button in the toast, if it exists
        $toastlast = $toast;
    }

    function SaveUser() {
        //  alert(document.getElementById("firstName").value);
        //success,info,warning,error
        var msg = "Added Successfully";
        var title = 'User';
        displayToastr(msg, '', 'success');

        $("#firstName").val('');
        $("#lastName").val('');
        $("#emailAddress").val('');
        $("#loginId").val('');
        $("#password").val('');

        
        $("#roleId").prop('selectedIndex', 0);
        $("#phone1TypeId").prop('selectedIndex', 0);
        $("#phone2TypeId").prop('selectedIndex', 0);
        $("#phone3TypeId").prop('selectedIndex', 0);
        $("#phone4TypeId").prop('selectedIndex', 0);

        $("#phoneNumber1").val('');
        $("#phoneNumber2").val('');
        $("#phoneNumber3").val('');
        $("#phoneNumber4").val('');

        $("#notes").val('');
        $("#isActive").prop('checked', false);
        
    }

</script>


<div class="col-med-5 col-lg-9 row main-right ">
    <div class="panel panel-default systemAdminDiv">

        <div class="MainForm">
            <h2 class="marginTop">Add Person</h2>
            @*"AddMySiteEmployee", "SiteAdmin"*@
            @*UpdateTargetId = "updateDiv",*@

            @using (Ajax.BeginForm("AddMySiteEmployee1", "SiteAdmin", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnSuccess = "SaveUser", LoadingElementId = "loader" }, new { id = "frmPerson123" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <hr />
                    @ViewBag.EmpMessage
                    @Html.ValidationSummary(true)
                    @*<div class="form-group">
                            @Html.LabelFor(model => model.personId, htmlAttributes: new { @class = "control-label col-md-5" })
                               <div class="col-md-6">
                                @Html.EditorFor(model => model.personId)
                                @Html.ValidationMessageFor(model => model.personId)
                            </div>
                        </div>*@

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.firstName, htmlAttributes: new { @class = "control-label " })
                                    @Html.HiddenFor(model => model.personId)
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.firstName, htmlAttributes: new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.firstName, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.lastName, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.lastName, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.lastName, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.siteId, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-md-8">


                                    @Html.DropDownListFor(model => model.siteId, new SelectList(Model.lstSite, "SiteId", "SiteName"), "--- Select ---", new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })

                                    @Html.ValidationMessageFor(model => model.siteId, null, new { @class = "text-danger" })

                                    @Html.HiddenFor(model => model.siteId)
                                    @*@Html.DropDownListFor(model => model.siteId, new SelectList(Model.lstSite, "SiteId", "SiteName"), new { style = "width:175px;" })*@

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.emailAddress, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.emailAddress, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.emailAddress, null, new { @class = "text-danger" })
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.loginId, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.loginId, htmlAttributes: new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.loginId, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.password, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.password, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.roleId, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-md-8">


                                    @Html.DropDownListFor(model => model.roleId, new SelectList(Model.lstRole, "RoleId", "RoleName"), "--- Select ---", new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.roleId, null, new { @class = "text-danger" })




                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.isActive, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.CheckBoxFor(model => model.isActive)

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.phone1TypeId, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-md-8">


                                    @*@Html.DropDownListFor(model => model.phone1TypeId, new SelectList(Model.lstPhoneType, "PhoneTypeId", "PhoneTypeDesc"), "--- Select ---", new { @class = "form-control" })*@
                                    @Html.DropDownListFor(model => model.phone1TypeId, new SelectList(Model.lstPhoneType, "PhoneTypeId", "PhoneTypeDesc"), null, new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.phone1TypeId, null, new { @class = "text-danger" })



                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.phoneNumber1, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.phoneNumber1, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.phoneNumber1, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.phone2TypeId, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-md-8">


                                    @Html.DropDownListFor(model => model.phone2TypeId, new SelectList(Model.lstPhoneType, "PhoneTypeId", "PhoneTypeDesc"), null, new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.phone2TypeId, null, new { @class = "text-danger" })



                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.phoneNumber2, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.phoneNumber2, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.phoneNumber2, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.phone3TypeId, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-md-8">


                                    @Html.DropDownListFor(model => model.phone3TypeId, new SelectList(Model.lstPhoneType, "PhoneTypeId", "PhoneTypeDesc"), null, new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.phone3TypeId, null, new { @class = "text-danger" })



                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.phoneNumber3, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.phoneNumber3, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.phoneNumber3, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.phone4TypeId, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-md-8">


                                    @Html.DropDownListFor(model => model.phone4TypeId, new SelectList(Model.lstPhoneType, "PhoneTypeId", "PhoneTypeDesc"), null, new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.phone4TypeId, null, new { @class = "text-danger" })



                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.phoneNumber4, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.phoneNumber4, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.phoneNumber4, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.notes, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.notes, htmlAttributes: new { @class = "form-control" })

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    &nbsp;
                                </div>
                                <div class="col-md-8 text-right">
                                    <input type="submit" value="Create" class="btn btn-primary btnpadding" id="btnSaveEmployee" />  @*onclick="SaveEmployee()"*@
                                    @*<input type="button" value="Create" class="btn btn-primary btnpadding" id="btnSaveEmployee" onclick="SaveEmployee()" />*@
                                    <input type="button" value="Cancel" class="btn btn-danger btnpadding " onclick="location.href='@Url.Action("ViewSystemUser", "Person")'" />

                                </div>

                            </div>
                        </div>


                    </div>


                </div>
            }

        </div>
    </div>
</div>

<div id="updateDiv">

</div>

