﻿


<div class="col-med-5 col-lg-9 row main-right">
    <div class="panel panel-default systemAdminDiv">

        <p>
            Welcome to Site Admin More partial...
        </p>

    </div>
</div>
