﻿<div class="panel panel-default">
    <div class="panel-heading" id="tabs">
        <ul class="nav-main nav-main-tabs" role="tablist">
            <li id="Li-1"><a href="#tabs-1">View Content1</a></li>
            <li id="Li-2"><a href="#tabs-2" id="EditBook">Edit Book1</a></li>
            <li id="Li-3"><a href="#tabs-3" id="BookSections">Sections1</a></li>
        </ul>
        <div id="tabs-1" class="panel-body">
            @*@{
                    BookModel objBook = new BookModel();

                    if (ViewData["Book"] != null)
                    {
                        objBook = (BookModel)ViewData["Book"];
                    }


                    List<ProductLineModel> lstProductLine = new List<ProductLineModel>();
                    lstProductLine = ViewData["ProductLine"] as List<ProductLineModel>;


                }*@

            <div id="divEditBook">
                @*<div id="pdf">
                        <object width="100%" height="100% type=" application />pdf" data="pdf/alz00100.pdf?#toolbar=0&amp;navpanes=0&amp;scrollbar=0&amp;page=0&amp;view=Fit" id="pdf_content">
                        <p>Insert your error message here, if the PDF cannot be displayed.</p>
                        </object>
                    </div>*@


                <div style="clear:both"></div>
                <p>View Book Detials.......</p>
            </div>
        </div>

        <div id="tabs-2" class="panel-body">
            <div style="clear:both"></div>
            <p>Edit Book Detials.......</p>
        </div>

        <div id="tabs-3" class="panel-body">
            <div style="clear:both"></div>
            Book Sections.....................
        </div>
    </div>
</div>
