﻿<html>
<head>
    <title>The TEACHING BOOK </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/tbcustom2.css" rel="stylesheet" media="screen">

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--[if lt IE 9]><style>.IePanel{height:400px;}</style><![endif]-->


</head>

<body>
    <div class="container-fluid">
        <!-- header -->
        <div class="row hdr">
            <div class="col-sm-3 col-md-3 col-lg-3 hdr">
                <!-- LOGO IMAGE -->
                <a href="index.html">
                    <img src="~/Content/pic/tb-logo.png" alt="The Teaching Book">
                </a>
                <!-- /LOGO IMAGE -->

                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Login", "Login", "Person")</li>
                </ul>
            </div>

            <div class="col-sm-6 col-md-7 col-lg-7 hdr text-right">
                <p>
                    <a href="#" title="">
                        <span class="glyphicon glyphicon-envelope"></span>
                        <strong>teachingbook@p-h.com</strong>
                    </a> &nbsp;&nbsp;|&nbsp;&nbsp;<strong><span class=" glyphicon glyphicon-phone-alt"></span>  800.241.4925 </strong>
                </p>
            </div>
            <div class=" col-sm-3 col-md-2 col-lg-2 hdr text-right">

                <img src="~/Content/pic/basic_top_icons.png" />
            </div>

        </div>
        <!-- site branding N/A on index-->
        <!-- top Tab nav N/A on index-->
        <!--------------- Content --------------------->
        <div class="col-med-12 col-lg-12 home-content ">
            <div class="panel panel-default">
                @*<div class="panel-heading">Login</div>*@
                <div class="panel-body IePanel">

                    @RenderBody()



                </div>
            </div>

            <!--------------- Footer --------------------->
            <div class=" col-lg-12 row footer">
                <ul class="list-inline text-center">
                    <li> &#169; 2014 Pritchett and Hull Assoc, Inc </li>
                    <li>www.p-h.com</li>
                </ul>
                </nav>
            </div>
        </div>
        <!-- end container-fluid -->
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>
</html>
