﻿@using TBScripts.Models;
<html>
<head>
    <title>the TEACHING BOOK </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>*@
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/Content/css/tbcustom2.css" rel="stylesheet" media="screen">
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    @*<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>*@

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">

    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>-->
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <!--<link rel="stylesheet" href="/resources/demos/style.css">

    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>-->
    <script src="~/Scripts/toastr.js"></script>

    <link href="@Url.Content("~/JsTableSorter/theme.blue.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/JsTableSorter/jquery.tablesorter.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JsTableSorter/jquery.tablesorter.pager.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JsTableSorter/jquery.tablesorter.widgets.js")" type="text/javascript"></script>

    <script>
        function setSession() {
            //alert("siteadmin");
            sessionStorage.setItem('name', null);
        }
    </script>


</head>

<body>
    <!-- header -->
    <div class="row hdr">
        <div class="col-sm-3 col-md-3 col-lg-3 hdr">
            <!-- LOGO IMAGE -->
            <a href="index.html">
                <img src="~/Content/pic/tb-logo.png" alt="The Teaching Book">
            </a>
            <!-- /LOGO IMAGE -->
        </div>
        <div class="col-sm-6 col-md-7 col-lg-7 hdr text-right">
            <p> <a href="#" title=""><span class="glyphicon glyphicon-envelope"></span> <strong>teachingbook@p-h.com</a> &nbsp;&nbsp;|&nbsp;&nbsp;<span class=" glyphicon glyphicon-phone-alt"></span>  800.241.4925 </strong></p>
        </div>
        <div class=" col-sm-3 col-md-2 col-lg-2 hdr text-right">
            <img src="~/Content/pic/basic_top_icons.png" />
        </div>
    </div>
    <div class="container-fluid">

        <!-- site branding -->

        <div class="row brand">
            <div class="col-sm-3 col-md-5 col-lg-5 tb-company-logo">
                <img src="~/Content/pic/careathome-logo.jpg" />
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 text-right tb-company-login">
                @{if (Session["Person"] != null)
                {
                    PersonModel objPerson = new PersonModel();
                    objPerson = (PersonModel)Session["Person"];

                    <ul class="brand-list-group-item">
                        <li class="brand-list-group-item">Welcome: @objPerson.firstName</li>
                        <li class="brand-list-group-item">Role:@objPerson.roleName</li>
                    </ul>
                }

                }
            </div>
            <div class="col-sm-3 col-md-2 col-lg-2 text-right tb-company-profile">
                <p>profile<p>
            </div>
            <div class="col-sm-3 col-md-2 col-lg-2 text-right tb-company-signout">
                @Html.ActionLink("Log Out", "Logout", "Person")
            </div>
        </div>
        <!-- top Tab nav -->
        <div class="row top-tabs col-lg-12">
            <ul class="nav nav-tabs">
                @{
                    string strroleName = string.Empty;
                    if (Session["RoleName"] != null)
                    {
                        strroleName = Session["RoleName"].ToString();
                    }


                    <li><a href="~/Home/MainHome">Home</a></li>



                    <li><a href="~/TreeView/Browse">Browse</a></li>

                    if (strroleName == "Admin Educator" || strroleName == "Site Admin" || strroleName == "P&H Employee" || strroleName == "System Admin" || strroleName == "Author" || strroleName == "Educator")
                    {
                        <li><a href="~/FolderView/FolderView">eFolder</a></li>
                    }
                    if (strroleName == "Admin Educator" || strroleName == "Site Admin" || strroleName == "System Admin")
                    {
                        <li><a href="~/SiteAdmin/Index" onclick="setSession()">Site Admin</a></li>
                        @*<li><a href="~/SiteAdmin/SiteAdminIndex">Site Admin</a></li>*@

                    }
                    if (strroleName == "System Admin")
                    {
                        <li><a href="~/SystemAdmin/Index">System Admin</a></li>
                    }
                    if (strroleName == "System Admin" || strroleName == "P&H Employee" || strroleName == "Reviewer")
                    {
                        <li><a href="~/report/Index">Reports</a></li>
                    }
                }
                <!--    top search -->
                <form class="navbar-form navbar-right" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </ul>

        </div>
        <!--------------- Content --------------------->
      
       
        <div class="col-med-12 col-lg-12 home-content ">
            @*<div class="panel panel-default">
                    <div class="panel-heading">Welcome to the teaching Book</div>
                    <div class="panel-body">This page is for news and other important information- Links to FYI/ Support, etc....</div>
                </div>*@

            @*@Html.Partial("~/Views/Shared/_TBSiteAdmin.cshtml")*@

          

           

            @RenderBody()

         

        </div>


        <iframe style="display:none; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid; WIDTH: 98%; HEIGHT: 98%; BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid"
                src="about:blank"
                name="ifr1" id="ifr1" scrolling=no>
            Your browser do not support frames!
        </iframe>
    </div>
    <!-- end container-fluid -->
    <!--------------- Footer --------------------->
    <div class=" col-lg-12 row footer">
        <ul class="list-inline text-center">
            <li> &#169; 2014 Pritchett and Hull Assoc, Inc </li>
            <li>www.p-h.com</li>
        </ul>

    </div>

    @*</div>*@
    @*<script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>*@




</body>
</html>