﻿@*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
@*@model TBScripts.Models.PersonModel*@


<div class="col-med-2 col-lg-2 navtree" style="min-height:500px;">

    <div class="list-group">

        @*@Model.siteId*@


        <a href="#" class="list-group-item active">
            <span class="glyphicon glyphicon-book"></span> Site Tasks<span class="badge"></span>
        </a>

        <a class="list-group-item" href="~/SiteAdmin/EditSite">

            <span class="glyphicon glyphicon-file"></span>Edit My Site
        </a>

        <a href="#" class="list-group-item active">
            <span class="glyphicon glyphicon-book"></span> Employees<span class="badge"></span>
        </a>

        @*<a class="list-group-item" href="~/SiteAdmin/AddSiteUser?siteId=10&PersonId=0">*@

            <a class="list-group-item" href="~/SiteAdmin/AddSiteUser?PersonId=0">

                <span class="glyphicon glyphicon-file"></span>Add a New Employee
            </a>

        <a class="list-group-item" href="~/SiteAdmin/ViewUsers">

            <span class="glyphicon glyphicon-file"></span>View Employees
        </a>

        <a href="#" class="list-group-item active">
            <span class="glyphicon glyphicon-book"></span> Reports<span class="badge"></span>
        </a>


        <a class="list-group-item" href="~/SiteAdmin/SiteEmployeeUsage">

            <span class="glyphicon glyphicon-file"></span>View Employees Usage
        </a>


    </div>
</div>

<script>
    $("#btnSubmit").click(function () {
        $("#divLoader").show();
        $.ajax
        ({
            url: '/Test/Submit',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: {},
            //async: true,  
            //processData: false,  
            // cache: false,  
            success: function (data) {
                $("#divLoader").hide();
                alert(data);
            },
            error: function (xhr) {
                $("#divLoader").hide();
                alert('error');
            }
        })
    });
</script>





