﻿@*<script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@


<script type="text/javascript">


    function SuccessMessage() {
        debugger;
        alert("Succcess Post");
    }
    function FailMessage() {
        debugger;
        alert("Fail Post");
    }

    function validations() {
        if ($('#SiteName').val() == '') {
            alert("Please enter site name");
            return false;
        }
    }

    function editSite() {
        // alert("sudha");
        // debugger;
        $.validator.unobtrusive.parse($(document));
        $('#partialView').load("/SiteAdmin/EditMySite", { siteId: 10 });
        //<a href="~/Views/Shared/_LoginPartial.cshtml">~/Views/Shared/_LoginPartial.cshtml</a>
        //$("#viewPlaceHolder").load("/home/getview",
        //   { customerID: custID, viewName: "CustomerDetails" });

        document.getElementById('hidValue').value = "EditSite";
        sessionStorage.setItem('name', "EditSite");
    }

    function addEmployee() {

        // $('#partialView').load("/SiteAdmin/AddMySiteEmployee");

        debugger;
        $.ajax({
            url: '/SiteAdmin/AddMySiteEmployee',
            data: { siteId: 10, PersonId: 0 },
            contentType: 'application/html;charset=utf-8',
            type: 'GET',
            dataType: 'html'
        })
        .success(function (result) {
            debugger;
            $('#partialView').html(result);
        })
        .error(function (xhr, status) {
            debugger;
            alert(status);
        });
        document.getElementById('hidValue').value = "AddEmployee";
        sessionStorage.setItem('name', "AddEmployee");

    }

    function viewEmployee() {

        $('#partialView').load("/SiteAdmin/ViewMySiteEmployee", { siteId: 10 });
        document.getElementById('hidValue').value = "View";

        sessionStorage.setItem('name', "View");


    }

    function viewEmployeeUsage() {

        $('#partialView').load("/SiteAdmin/MySiteEmployeeReport");
        document.getElementById('hidValue').value = "ViewUsage";
        sessionStorage.setItem('name', "ViewUsage");

    }

    function SaveEmployee() {
        debugger;
        //alert("saveemployee");
        document.getElementById('hidValue').value = "View";
        sessionStorage.setItem('name', "View");
    }

    function loadPartial(message) {

        //sessionStorage.setItem('myCat', 'Tom');
        //field.value = sessionStorage.getItem("autosave");

        if (message) {
            alert(message);
        }

        debugger;
        var name = sessionStorage.getItem('name');
        //if (name !== null)
        document.getElementById('hidValue').value = name;

        var x = document.getElementById("hidValue").value;

        sessionStorage.setItem('name', x);

        if (name == 'View')
            viewEmployee();
        else if (name == 'ViewUsage')
            viewEmployeeUsage();
        else if (name == 'AddEmployee')
            addEmployee();
        else if (name == 'EditSite')
            editSite();



        //alert(x);
    }

    //$(function () {
    //    $("#btnSaveEmployee").click(function () {
    //        alert("sudhakar");
    //    });
    //});

    
    function OnSuccess() {
        alert("Added");
        //addEmployee();
    }






</script>
<div class="col-med-2 col-lg-2 navtree" style="min-height:500px;">

    <div class="list-group">

        @*<a href="~/TreeView/Browse" class="list-group-item active">
                <span class="glyphicon glyphicon-book"></span> The Teaching Book <span class="badge"></span>
            </a>*@

        @*<a class="list-group-item" href="~/SiteAdmin/Index1">

                <span class="glyphicon glyphicon-file"></span>Index1
            </a>*@

        <a href="#" class="list-group-item active">
            <span class="glyphicon glyphicon-book"></span> Site Tasks<span class="badge"></span>
        </a>

        <a class="list-group-item" href="#" onclick="editSite()">

            <span class="glyphicon glyphicon-file"></span>Edit My Site
        </a>

        <a href="#" class="list-group-item active">
            <span class="glyphicon glyphicon-book"></span> Employees<span class="badge"></span>
        </a>

        <a class="list-group-item" href="#" onclick="addEmployee()">

            <span class="glyphicon glyphicon-file"></span>Add a New Employee
        </a>

        <a class="list-group-item" href="#" onclick="viewEmployee()">

            <span class="glyphicon glyphicon-file"></span>View Employees
        </a>

        <a href="#" class="list-group-item active">
            <span class="glyphicon glyphicon-book"></span> Reports<span class="badge"></span>
        </a>


        <a class="list-group-item" href="#" onclick="viewEmployeeUsage()">

            <span class="glyphicon glyphicon-file"></span>View Employees Usage
        </a>


    </div>
</div>




