﻿


<div class="col-med-2 col-lg-2 navtree">

    <div class="list-group">

        <a href="#" class="list-group-item active">
            <span class="glyphicon glyphicon-book"></span> <span class="badge"></span>
        </a>
        <a class="list-group-item" >
            <span class="glyphicon glyphicon-file"></span> Version 1.0
        </a>
        <a class="list-group-item" >
            <span class="glyphicon glyphicon-file"></span> Active Users Online: 1
        </a>

        <a href="#" class="list-group-item active">
            <span class="glyphicon glyphicon-book"></span> System Admin Tasks<span class="badge"></span>
        </a>

        <a class="list-group-item" href="~/SiteAdmin/Index1">

            <span class="glyphicon glyphicon-file"></span>Setup System Controls
        </a>

        <a href="#" class="list-group-item active">
            <span class="glyphicon glyphicon-book"></span> Code Tables<span class="badge"></span>
        </a>

        <a class="list-group-item" href="~/SystemAdminCodeTables/ViewProductLineType">

            <span class="glyphicon glyphicon-file"></span>Product Line Type
        </a>

        @*<a class="list-group-item" href="~/SystemAdminCodeTables/ViewBrandType">

            <span class="glyphicon glyphicon-file"></span>Brand Type
        </a>*@

        @*<a class="list-group-item" href="~/SystemAdminCodeTables/ViewRecentType">

            <span class="glyphicon glyphicon-file"></span>Recent Type
        </a>*@

        <a class="list-group-item" href="~/SystemAdminCodeTables/ViewPhoneType">

            <span class="glyphicon glyphicon-file"></span>Phone Type
        </a>

        <a class="list-group-item" href="~/SystemAdminCodeTables/ViewLanguage">

            <span class="glyphicon glyphicon-file"></span>Language
        </a>

        <a class="list-group-item" href="~/SystemAdminCodeTables/ViewStates">

            <span class="glyphicon glyphicon-file"></span>State Province
        </a>



        <a href="#" class="list-group-item active">
            <span class="glyphicon glyphicon-book"></span> Admin Functions<span class="badge"></span>
        </a>

        <a class="list-group-item" href="~/SystemAdmin/ViewProductLine">

            <span class="glyphicon glyphicon-file"></span>Product Line
        </a>


        <a class="list-group-item" href="~/SystemAdmin/ViewCustomer">

            <span class="glyphicon glyphicon-file"></span>Customers
        </a>
        <a class="list-group-item" href="~/Person/ViewSystemUser">

            <span class="glyphicon glyphicon-file"></span>System Users
        </a>
        <a class="list-group-item" href="~/SystemAdmin/ViewSites ">

            <span class="glyphicon glyphicon-file"></span>Sites
        </a>

        <a class="list-group-item" href="~/SystemAdmin/Books">

            <span class="glyphicon glyphicon-file"></span>Books
        </a>

        @*<a class="list-group-item" href="~/SiteAdmin/Index1">

            <span class="glyphicon glyphicon-file"></span>Manage Templates
        </a>

        <a class="list-group-item" href="~/SiteAdmin/Index1">

            <span class="glyphicon glyphicon-file"></span>Manage CSS Stylesheets
        </a>*@

        <a href="#" class="list-group-item active">
            <span class="glyphicon glyphicon-book"></span> Admin Tools<span class="badge"></span>
        </a>

        <a class="list-group-item" href="~/SystemAdmin/RunQuery">

            <span class="glyphicon glyphicon-file"></span>Ad-hoc Query Tool
        </a>

        @*<a class="list-group-item" href="~/SystemAdmin/ViewSites">

            <span class="glyphicon glyphicon-file"></span>Change Book Status
        </a>*@

        <a class="list-group-item" href="~/SystemAdmin/UserCredentials">

            <span class="glyphicon glyphicon-file"></span>User Credentials
        </a>



    </div>
</div>




