﻿
@model TBScripts.Models.PDFViewModel

<script type="text/javascript">

    $(document).ready(function () {

        $(function () {
            $("#dialog").dialog({
                autoOpen: false,
                resizable: false,
                height: 455,
                width: 550,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function () {
                    url = $(this).data("URL");
                    alert(url);
                    $(this).load(url);
                    //$('#dialog-edit').load(url);

                },
                close: function () {
                    $("#dialog").dialog('close');
                }
            });

            //$("#opener").click(function () {

            //    var url = "/TreeView/AddToEfolder";
            //    $("#dialog").data("URL", url).dialog('open');

            //});
        });


    });





    function addToEFolder(id, name) {
        alert("addToEFolder");
        alert(name);
        //        alert(id);
        var url = "/TreeView/AddToEfolder?id=" + id + "&name=" + encodeURI(name);
        $("#dialog").data("URL", url).dialog('open');
    }

    function printPdf(id, handoutName) {
        //alert("printPdf");
        //alert(id);

      

        var id = id;
        var name = handoutName;
        //var url = "@Url.Action("PrintFile", "FolderView")";
        //alert(id);

        //e.preventDefault();
       // $('ifr1').attr('src', "/FolderView/PrintFile?lintBookId=" + id + "&strBookName=" + encodeURI(name) + "");


        var x = document.getElementById("ifr1");
        //x.setAttribute("src", "http://www.w3schools.com");
        x.setAttribute("src", "/FolderView/PrintFile?lintBookId=" + id + "&strBookName=" + encodeURI(name) + "");

        setTimeout(function () {
            window.frames["ifr1"].focus();
            window.frames["ifr1"].print();
        }, 2000);


        //$.ajax({
        //    type: "POST",
        //    url: url,
        //    data: { lintBookId: id,strBookName:name },

        //    success: successFunc1,
        //    error: errorFunc1
        //});

        //function successFunc1(data, status) {

        //   alert(data);
            //window.frames["ifr1"].focus();
            //window.frames["ifr1"].print();

        //}
        //function errorFunc1() {
        //    alert('error');
        //}
    }

    function printPdfForm(id, handoutName) {

        alert("printPdfForm");
        var url = "/FolderView/PrintView?lintBookId=" + id + "&strBookName=" + encodeURI(handoutName);
        $("#dialog").data("URL", url).dialog('open');
    }

    function printAll(id) {
        alert("printAll");
        alert(id);
        AddCoverSheet(id);
    }

    function printCoversheet(id) {
        alert("printCoversheet");
        alert(id);
        AddCoverSheet(id);
    }

    function AddCoverSheet(id)
    {
        $("#divNotes").css("display", "none");
        $("#divContent").css("display", "block");
        $("#divCoversheet").css("display", "none");



        var url = "@Url.Action("ReturnAddCoverSheetPartial", "FolderView")";

        $.ajax({
            type: "POST",
            url: url,
            data:{fileId:id},
            success: successFunc1,
            error: errorFunc1
        });


        function successFunc1(data, status) {

            $('#divContent').html('');
            $("#divContent").tabs();
            $('#divContent').html(data);

            //alert(data);

        }
        function errorFunc1() {
            alert('error');
        }
    }


</script>


<p>
   
    <img src="~/Images/icon_show_table_big.gif" width="32" height="32"><strong>View Content</strong>
    <input type="button" id="btnAddToEFolder" name="btnAddToEFolder" value="Add To eFolder" onclick="addToEFolder(@Model.Id,'@Model.Name');" />
    <input type="button" id="btnPrint" name="btnPrint" value="Print" onclick="printPdf(@Model.Id,'@Model.Name');" />
    <input type="button" id="btnPrintAll" name="btnPrintAll" value="Print w/Coversheet" onclick="printAll(@Model.Id);" />
    <input type="button" id="btnPrintCoversheet" name="btnPrintCoversheet" value="Print Coversheet ONLY" onclick="printCoversheet(@Model.Id);" />

    @*<input type="button" id="btnPrint1" name="btnPrint1" value="Print1" onclick="printPdfForm(@Model.Id,'@Model.Name');" />*@

</p>

<div id="dialog" title="Select a folder to add">

</div>

<iframe style="BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid; WIDTH: 98%; HEIGHT: 98%; BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid"
        src="@Url.Action("GetPDF", "FolderView", new { id = Model.Id })#pagemode=none&amp;toolbar=0&amp;view=FitH"
        name="ifr" id="ifr" scrolling=no>
    Your browser do not support frames!
</iframe>

@*<iframe style="display:block; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid; WIDTH: 98%; HEIGHT: 98%; BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid"
        src="about:blank"
        name="ifr1" id="ifr1" scrolling=no>
    Your browser do not support frames!
</iframe>*@