﻿@model TBScripts.Models.MyeFolderModel

<div class="list-group">


    <a href="~/FolderView/FolderView" class="list-group-item ">
        <span class="glyphicon glyphicon-book"></span> @Model.m_sRootNodeTile <span class="badge"></span>
    </a>

    @foreach (var eFolder in Model.lsteFolderModel)
    {
        <a class="list-group-item active" href=@Url.Action("EditSiteFolderRecordView", "FolderView", new { lintFolderId = eFolder.FolderId, strFoldername=eFolder.FolderName })>
            @*<a class="list-group-item active" href="~/FolderView/EditSiteFolderRecordView">*@
            <span class="glyphicon glyphicon-book"></span>@eFolder.FolderName<span class="badge">@eFolder.folderfileslist.Count()</span>

        </a>
        <div style="width:auto;">
            <p>
                @foreach (var file in eFolder.folderfileslist)
                {
                    @*<li>*@
                    <a href=@Url.Action("ViewFrame", "FolderView", new { lintFolderId = file.Id }) class="list-group-item">
                        <span class="glyphicon glyphicon-file"></span>@file.Name
                    </a>
                    @*</li>*@

                }
            </p>
        </div>


    }

    @*<a href="browse2.html" class="list-group-item">
            <span class="glyphicon glyphicon-file"></span>INTRODUCTION<span class="badge">##</span>
        </a><a href="browse2.html" class="list-group-item">
            <span class="glyphicon glyphicon-file"></span>INTRODUCTION<span class="badge">##</span>
        </a><a href="browse2.html" class="list-group-item">
            <span class="glyphicon glyphicon-file"></span>INTRODUCTION<span class="badge">##</span>
        </a><a href="browse2.html" class="list-group-item">
            <span class="glyphicon glyphicon-file"></span>INTRODUCTION<span class="badge">##</span>
        </a>*@

</div>

