﻿@model List<TBScripts.Models.TreeViewModel>
@using TBScripts.Models;




<style type="text/css">
    .ui-accordion .ui-accordion-content {
        padding: 1em 0.5em;
    }
</style>

@{
    //string s = TempData["CreditCardInfo"] as string;
    List<TreeViewModel> t = new List<TreeViewModel>();
    if (TempData["BooksItems"] != null)
    {
        t = (List<TreeViewModel>)TempData["BooksItems"];
    }

    <div class="col-med-2 col-lg-2 navtree" style="  overflow-x: hidden;">

        <div class="btn-group">
            <select id="selBooks" name="selBooks">
            
                @if (t.Count > 0)
                {

                   
                    foreach (var book in Model)
                    {
                        foreach (var b in t)
                        {
                            if (book.intBookId == b.intBookId)
                            {
                <option value=@b.intBookId selected="selected">@b.strBookTitle</option>
                            }
                            else
                            {
                <option value=@b.intBookId>@b.strBookTitle</option>

                            }
                        }
                        break;
                    }

                }
            </select>

           
        </div>
        <ul class="list-group innerdiv" id="TOPICS">
            @*treeDemo*@
            @foreach (var book in Model)
            {
                <li>
                    <h3>
                        <a class="list-group-item active" style="cursor:pointer;" onclick="ReturnSectionPartial(@book.intSectionId,'@book.strSectionTitle',@book.intBookId,@book.intSiteId);">

                            <span class="glyphicon glyphicon-book "></span>@book.strSectionTitle<span class="badge">@book.lstHandOutModel.Count</span>
                        </a>
                    </h3>

                    <div style="width:auto;">
                        <p>
                            @foreach (var booksection in book.lstHandOutModel)
                            {
                                @*<li>*@
                                @*<a class="list-group-item" href=@Url.Action("Browse2", "TreeView", new { lintSecId = booksection.intHandOutId })>*@
                                <a class="list-group-item" style="cursor:pointer;" onclick="PdfView(@booksection.intHandOutId,'@booksection.strName');">

                                    <span class="glyphicon glyphicon-file"></span>@booksection.strName
                                </a>
                                @*</li>*@

                            }
                        </p>
                    </div>
                </li>

            }
        </ul> @*list-grup*@
    </div>

}


<style>
    .innerdiv {
        margin-left: 0px;
        width: 104%;
        border: 0;
        padding-bottom: 30px;
    }
    /*Here We will add some css for style our treeview*/
    .collapse {
        width: 15px;
        background-image: url('../Images/ui-icons_454545_256x240.png');
        background-repeat: no-repeat;
        background-position: -36px -17px;
        display: inline-block;
        cursor: pointer;
    }

    .expand {
        width: 15px;
        background-image: url('../Images/ui-icons_454545_256x240.png');
        background-repeat: no-repeat;
        background-position: -50px -17px;
        display: inline-block;
        cursor: pointer;
    }

    .treeview ul {
        font: 14px Arial, Sans-Serif;
        margin: 0px;
        padding-left: 20px;
        list-style: none;
    }

    .treeview > li > a {
        font-weight: bold;
    }

    .treeview li {
    }

        .treeview li a {
            padding: 4px;
            font-size: 12px;
            display: inline-block;
            text-decoration: none;
            width: auto;
        }

    .badge {
        padding: 2px 6px;
        margin: -2px -5px;
    }
</style>

<script type="text/javascript">
    $(function () {

      
       

        $("#TOPICS").accordion({ collapsible: true, heightStyle: "content" });

       
        
        //$("#accpshohideslt").click(function () {
        //    alert();
        //    debugger;
        //    $(this).next(".accpshohide").css("display", "block");
        //})

    });

    function accpnlnw(data) {
       
        var sel = "shhdacpnl" + '' + data;
        var csel = $('.' + sel).children()[1];
        var dsplyv = $('.' + sel).attr("data-dsply");
       if (dsplyv=='block')
       {
           $('.' + sel).attr("data-dsply", "none");
           $(csel).css("display", "none");
       }
       else {
           $('.' + sel).attr("data-dsply", "block");
           $(csel).css("display", "block");
       }
       
    }
</script>











