﻿@model List<TBScripts.Models.TreeViewModel>
@using TBScripts.Models;
@{
    int lintPrvBookId = 0;
    Mymodel m = new Mymodel();
    List<TreeViewModel> t = new List<TreeViewModel>();
    
    @*<div class="col-lg-12 row content">*@
    
        <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3 navtree">

            <div class="list-group">
                <a href="~/TreeView/Browse" class="list-group-item active">
                    <span class="glyphicon glyphicon-book"></span> The Teaching Book <span class="badge"></span>
                </a>
                <div class="scrl-tree">
                    @foreach (var book in Model)
                    {
                        if (book.intBookId != lintPrvBookId)
                        {
                            <a class="list-group-item" href=@Url.Action("Browse2", "TreeView", new { lintBookId = book.intBookId} )>
                                @*<a href="~/TreeView/Browse2/lintBookId=@book.intBookId" class="list-group-item">*@
                                <span class="glyphicon glyphicon-file"></span>@book.strBookTitle@*<span class="badge">##</span>*@
                            </a>
                            @*<li>@Html.ActionLink(book.strBookTitle, "TreeView", "TreeView")</li>*@

                            t.Add(book);
                        }
                        lintPrvBookId = book.intBookId;
                    }
                    @{TempData["BooksItems"] = t;}
                </div>
            </div>
                 @*list-grup*@
        </div>
  
    @*</div>*@
}



