﻿@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_TBLayout.cshtml";
}

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<script type="text/javascript">
  

        $(function () {
            $("#dialog").dialog({
                open: function (event, ui) { $("a.ui-dialog-titlebar-close").remove(); },
                bgiframe: true,
                autoOpen: false,
                closeOnEscape: false,
                draggable: false,
                show: "drop",
                hide: "drop",
                zIndex: 10000,
                modal: true,
                buttons: {
                    'Ok': function () {
                        $(this).dialog("close");
                        processEmp($(this).data("pEmpValue"));
                    }
                }
            });
        });

        function processEmp(a) {
            alert(a);
        }

        function test(pEmp) {
            alert(pEmp);
            $("#dialog").data("pEmpValue", pEmp.value).dialog("open");
           
        }
    
</script>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div id="dialog" style="display: none">
</div>

<input type="button" id="btnone" name="btnone" value="one" onclick="test('sudd');">
<p>Use this area to provide additional information.</p>
