﻿
@{
    ViewBag.Title = "MainHome";
    Layout = "~/Views/Shared/_TBMainLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">Welcome to the teaching Book</div>
    <div class="panel-body">This page is for news and other important information- Links to FYI/ Support, etc....</div>
</div>

