/*!
 * Bootstrap v3.2.0 Custom CSS
 * created 7-23-2014
 */


/*! --------- Body --------- */
body {
    /*background-color: #dddddd;*/
}

.container-fluid {
    /*background-color: #dddddd;*/
    margin: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

/*! --------- header --------- */

.hdr {
    background-color: #000000;
    margin: 0;
    line-height: 1.42857;
}

    .hdr p {
        margin: 5px 0 0 0;
        color: white;
        font-family: Helvetica,Arial,sans-serif;
        font-size: 14px;
        font-style: bold;
    }

    .hdr a {
        color: white;
        font-style: bold;
    }



/*! --------- site brands --------- */

.brand {
    background-color: white;
    padding-top: 5px;
}

.tb-company-login {
    background-color: white;
    text-align: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.brand-list-group-item {
    display: block;
    padding: 0 0 0 15px;
    position: relative;
}
/*! --------- nav-tabs --------- */
.top-tabs {
    background-color: white;
    padding-top: 5px;
    margin-bottom: 0;
}

.navbar-form {
    border: 0 none;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -15px;
    padding-bottom: 0;
    padding-top: 0;
    width: auto;
}

.form-control {
    height: 28px;
    width: 100%;
}

.btnpadding {
    margin-top: 23px;
}

/*! ---------  Main panel
.panel-main-default {
    border-color: #DDD;
	padding: 0 15px;
	
  }--------- */
.home-content {
    background-color: white;
    padding-top: 4px;
    padding-right: 15px;
    padding-left: 15px;
}

/*! ---------  Login --------- */
.panel-primary {
    border-color: #428bca;
    height: 45%;
}

    .panel-primary > .login-panel-heading {
        background-color: #428bca;
        border-color: #428bca;
        color: #fff;
        padding: 10px;
    }

/*! ---------  tree-nav--------- */

.navtree {
    margin: 10px 2px 10px 0;
}

    .navtree .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
        background-color: #428bca;
        border-color: #428bca;
        color: #fff;
        z-index: 2;
    }

    .navtree .list-group-item {
        font-family: Helvetica,Arial,sans-serif;
        font-size: 11px;
    }


    .navtree .list-group-item {
        background-color: #fff;
        border: 1px solid #ddd;
        display: block;
        margin-bottom: -1px;
        padding: 4px 6px 2px 6px;
        position: relative;
    }

#tb-drop.btn-group, .btn-group-vertical {
    display: inline-block;
    padding: 0 0 5px;
    position: relative;
    vertical-align: middle;
}

#tb-drop > .btn, .dropdown-menu {
    font-size: 12px;
    padding: 4px;
}

#tb-drop > .dropdown-menu {
    overflow: hidden;
}

#tb-panel-body {
    background-color: #red;
}

    #tb-panel-body > .list-group {
        margin-bottom: -1px;
        margin-top: 0;
        padding-left: 15px;
        background-color: #fff;
        border: 1px solid #ddd;
        display: block;
        position: relative;
    }

#tb-accordion > .list-group-item {
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    margin-bottom: -1px;
    padding: 4px 6px 2px;
    position: relative;
}

.#tb-accordion > .tb-panel-body {
    margin-left: 0;
    padding: 0;
}

#tb-accordion > .panel-group, .panel-title {
    font-size: 11px;
}


/*! ---------  content --------- */
.content {
    background-color: white;
    padding-top: 4px;
    padding-right: 0;
    padding-left: 0;
}

.panel-body {
    height: 75%;
}

.main-right {
    background-color: white;
    margin: 10px 2px 10px 0;
    padding-left: 5px;
    margin-right: 0;
    margin-left: 0;

    width:1130px; /*sss*/
    /*height:700px;*/
}

.panel-heading {
    border-top-left-radius: 3px;
    border-bottom: 0 solid transparent;
    padding: 0 0 0 5px;
    border-top-right-radius: 3px;
}

.nav-main, .nav-main:after, .navbar:after, .navbar-header:after, .navbar-collapse:after {
    clear: both;
}


    .nav-main, .nav-main:after {
        display: table;
        content: " ";
    }

.nav-main {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

    .nav-main > li {
        position: relative;
        display: block;
    }

        .nav-main > li > a {
            position: relative;
            display: block;
            padding: 10px 15px;
        }

            .nav-main > li > a:hover,
            .nav-main > li > a:focus {
                text-decoration: none;
                background-color: #eee;
            }

        .nav-main > li.disabled > a {
            color: #777;
        }

            .nav-main > li.disabled > a:hover,
            .nav-main > li.disabled > a:focus {
                color: #777;
                text-decoration: none;
                cursor: not-allowed;
                background-color: transparent;
            }

    .nav-main .open > a,
    .nav-main .open > a:hover,
    .nav-main .open > a:focus {
        background-color: #eee;
        border-color: #428bca;
    }

    .nav-main .nav-main-divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }

    .nav-main > li > a > img {
        max-width: none;
    }

.nav-main-tabs {
    border-bottom: 1px solid #ddd;
}

    .nav-main-tabs > li {
        float: left;
        margin-bottom: -1px;
    }

        .nav-main-tabs > li > a {
            margin-right: 2px;
            line-height: 1.42857143;
            border: 1px solid transparent;
            border-radius: 4px 4px 0 0;
        }

            .nav-main-tabs > li > a:hover {
                border-color: #eee #eee #ddd;
            }

        .nav-main-tabs > li.active > a,
        .nav-main-tabs > li.active > a:hover,
        .nav-main-tabs > li.active > a:focus {
            color: #555;
            cursor: default;
            background-color: #fff;
            border: 1px solid #ddd;
            border-bottom-color: transparent;
        }

    .nav-main-tabs.nav-main-justified {
        width: 100%;
        border-bottom: 0;
    }

        .nav-main-tabs.nav-main-justified > li {
            float: none;
        }

            .nav-main-tabs.nav-main-justified > li > a {
                margin-bottom: 5px;
                text-align: center;
            }

        .nav-main-tabs.nav-main-justified > .dropdown .dropdown-menu {
            top: auto;
            left: auto;
        }

@media (min-width: 768px) {
    .nav-main-tabs.nav-main-justified > li {
        display: table-cell;
        width: 1%;
    }

        .nav-main-tabs.nav-main-justified > li > a {
            margin-bottom: 0;
        }
}

.nav-main-tabs.nav-main-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}

.nav-main-tabs.nav-main-justified > .active > a,
.nav-main-tabs.nav-main-justified > .active > a:hover,
.nav-main-tabs.nav-main-justified > .active > a:focus {
    border: 1px solid #ddd;
}

@media (min-width: 768px) {
    .nav-main-tabs.nav-main-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }

    .nav-main-tabs.nav-main-justified > .active > a,
    .nav-main-tabs.nav-main-justified > .active > a:hover,
    .nav-main-tabs.nav-main-justified > .active > a:focus {
        border-bottom-color: #fff;
    }
}

/*! --------- footer --------- */
.footer {
    background-color: black;
    padding-top: 10px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: white;
    position: fixed;
    bottom: 0;
    z-index: 2;
}


/*! --------- NAV Account --------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    margin-top: 20px;
}

    /* Flip around the padding for proper display in narrow viewports */
    .navbar-wrapper .container {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-wrapper .navbar {
        padding-left: 15px;
        padding-right: 15px;
    }

.navbar-content {
    width: 320px;
    padding: 15px;
    padding-bottom: 0px;
}

    .navbar-content:before, .navbar-content:after {
        display: table;
        content: "";
        line-height: 0;
    }

.navbar-nav.navbar-right:last-child {
    margin-right: 15px !important;
}

.navbar-footer {
    background-color: #DDD;
}

.navbar-footer-content {
    padding: 15px 15px 15px 15px;
}

.dropdown-menu {
    padding: 0px;
    overflow: hidden;
}

.content1 {
    display: block;
    margin-left: 40px;
    margin-bottom: 5px;
    float: left;
    width: 80%;
}

.content1-sub {
    display: block;
    float: left;
    width: 25%;
}

.dropdown-size {
    padding: 0px;
    overflow: hidden;
    width: 185px;
}

.MainForm {
    width: 100%;
    display: inline-block;
}

.form-horizontal .control-label {
    text-align: left;
    /*width: 30%;*/
    width: 115px;
}

.nav > LI > A {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.systemAdminDiv {
    padding: 10px 0 0 10px;
    display: inline-block;
    width: 1130px;
    min-height: 500px;
}

.scroll2 {
    position:relative;
    overflow-x:scroll;
}

.leftmargin {
    margin-left: 120px;
}

.marginTop {
     margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.add-field input{
    margin-left:10px;
}
.add-field > input {
        padding: 6px;
    border-radius: 4px;
    border: solid 1px #ccc;
}

.modal {
       top: 100px ;
   
}

/*sss*/
.scrl-tree{
    display: block;
    position: relative;
    height: 600px;
    overflow-x: hidden;

}
    
