/*!
 * Bootstrap v3.2.0 Custom CSS
 * created 7-23-2014
 */
.container-fluid {
background-color: #000000;

}
.tbrow {
  margin-right: -15px;
  margin-left: -15px;
  }
  
/*! nav bar TB 
 */
 .navbartb {
 font-size: 14px;
}
 
.navbar-tb {
    background-color: #000000;

}

.navbartb {
    border: 1px solid transparent;
    margin-bottom: 5px;
    min-height: 30px;
    position: relative;
}
  
.navbar-brand-tb {
    float: left;
    font-size: 18px;
    height: 30px;
    line-height: 20px;
    padding-top: 5px;
} 

.navbartb  a:hover , a:focus{
  text-decoration: none;
}
.navbar-nav-tb > li > a {
padding-bottom: 10px;
padding-top: 10px;
}
.navbar-nav-tb > li > a {
line-height: 10px;
padding-bottom: 5px;
padding-top: 5px; 
}
.nav-tb > li > a {
    display: block;
    /*! padding: 10px 15px; */
    position: relative;
}
.navbartb  a {
  color: white;
}

/*! Nav Hover */
.navbar-nav > li > a {
    padding-bottom: 5px;
    padding-top: 5px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #000;
}

.nav > li.disabled > a {
  color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eee;
  border-color: #428bca;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
}
.navbar-toggle:focus {
  outline: 0;
}
.tbheader { 
margin-top: 2px;
background-color: #000000;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 5px;
  }
  
.tbheader .tb-hr-logo{ 
background-color: #000000;
  }
 
.tbheader .tb-hr-logo  h4  {
  margin: 0.67em 0 0 10px;
  font-size: 20px;
  font-family: arial; 
  font-style: strong;
  color: white;
  }

.tb-hr-empty { background-color: #ECF0F1;
    margin: 0.67em 0;
	color: black;
}

.tb-hr-mail { background-color: #A4A4A4;
    margin: 0.67em 0;
	color: white;
}

.tb-hr-phone { background-color: #858585;
    margin: 0.67em 0;
	color: white;
}

.tb-hr-logo2 { background-color: #F2AFAF;
    margin: 0.67em 0;
	color: white;
}

 .tbcompany { 

margin-top: 1px;
background-color: #ffffff;
  margin-right: -15px;
  margin-left: -15px;
  }
  
.tb-company-logo {
background-color: #ffffff;
height:60px;
	color: white;
 margin: 0.67em 0;
}

.tb-company-login {
background-color: #858585;
    margin: 0.67em 0;
color: white;
}

.tb-company-empty {
background-color: #ECF0F1;
    margin: 0.67em 0;
color: black;
}
.tb-company-profile { background-color: #F2AFAF;
    margin: 0.67em 0;
	color: white;
}

.tb-company-signout { background-color: #A4A4A4;
    margin: 0.67em 0;
color: black;
}
