
A.ob_a	{FONT: 9pt sans-serif; COLOR: #000000; TEXT-DECORATION: none;}

td.ob_td	{FONT: 9pt sans-serif; height:16px; vertical-align:middle; TEXT-DECORATION: none; }

td.ob_ic 	{FONT: 9pt sans-serif; height:16px; width:19px; vertical-align:top; TEXT-DECORATION: none; }

