﻿@model TBScripts.Models.PersonModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_TBLayout.cshtml";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
        <div class="panel panel-primary">
            <div class="login-panel-heading">
                <h3 class="panel-title">Please sign in</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Login", "Person", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    <fieldset>
                        <div class="form-group">
                            @*<input class="form-control" placeholder="E-mail" name="email" type="text">*@
                            @Html.TextBoxFor(m => m.loginId, new { @class = "form-control", placeholder = "E-mail" })
                            @Html.ValidationMessageFor(m => m.loginId)
                        </div>
                        <div class="form-group">
                            @*<input class="form-control" placeholder="Password" name="password" type="password" value="">*@
                            @Html.PasswordFor(m => m.password, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.password)
                        </div>

                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Log in" />

                    </fieldset>
                }

                @Html.ActionLink("forgot your password, click here!", "ForgotPassword", "Person", null, null);

                @*<a href="forgot-email.html" target="_blank">forgot your password, click here!</a>*@


            </div>
        </div>
    </div>
</div>


@*<div class="row">
        <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
            <div class="panel panel-primary">
                <div class="login-panel-heading">
                    <h3 class="panel-title">Please sign in</h3>
                </div>
                <div class="panel-body">
                    <form accept-charset="UTF-8" role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="E-mail" name="email" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" value="">
                            </div>
                            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
                        </fieldset>
                    </form>

                    <a href="forgot-email.html" target="_blank">forgot your password, click here!</a>

                </div>
            </div>
        </div>
    </div>*@

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@

