﻿@model IEnumerable<TBScripts.Models.PersonModel>

@{
    ViewBag.Title = "ViewSystemUser";
    Layout = "~/Views/Shared/_TBMainLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function ($) {
        //  alert('hi');
        $('#example').tablesorter({
            theme: 'blue',
            widthFixed: true,
            widgets: ['filter'],
            headers: {
                0: { filter: false, sorter: false },
                3: { sorter: false, filter: false },
                7: { sorter: false, filter: false },
                6: { sorter: true, filter: false },
            }
        }).tablesorterPager({
            // target the pager markup - see the HTML block below
            container: $("#pager"),

            // output string - default is '{page}/{totalPages}';
            // possible variables:
            // {page}, {totalPages}, {startRow}, {endRow} and {totalRows}
            output: '{startRow} to {endRow} ({totalRows})',

            // apply disabled classname to the pager arrows when
            // the rows at either extreme is visible - default is true
            updateArrows: true,



            // remove rows from the table to speed up the sort of large
            // tables. setting this to false, only hides the non-visible rows;
            // needed if you plan to add/remove rows with the pager enabled.
            removeRows: false

        });



        //$("#example").tablesorter({ widthFixed: true, widgets: ['zebra'] }).tablesorterPager({ container: $("#pager") });




    });




</script>


@Html.Partial("~/Views/Shared/_TBSystemAdmin.cshtml")

<div class="col-med-5 col-lg-9 row main-right ">
    <div class="panel panel-default systemAdminDiv">

        <div class="MainForm">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <h2 class="marginTop">System Users</h2>
                </div>
                <div class="col-md-6 col-lg-6 pull-right text-right add-field">
                    @*<input type="text" placeholder="Search Customer" id="txtSearch" name="txtSearch" />*@

                    <a href='@Url.Action("AddPersonRecord", "SystemAdmin", new { PersonId = 0 })'>

                        <input type="button" value="Add" id="btnAdd" name="btnAdd" class="btn btn-primary" />
                    </a>
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="col-md-12 col-lg-12 row main-right ">
                <div class="panel panel-default table-responsive">

                    <table id="example" class="display" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th></th>
                                <th>First Name</th>
                                <th>
                                    Last Name
                                </th>
                                <th>
                                    Site
                                </th>
                                <th>
                                    Email Address
                                </th>
                                <th>
                                    LoginId
                                </th>
                                <th>
                                    RoleName
                                </th>
                                <th>
                                    IsActive
                                </th>

                            </tr>
                        </thead>

                        <tfoot>
                            <tr>
                                <th></th>
                                <th>First Name</th>
                                <th>
                                    Last Name
                                </th>
                                <th>
                                    Site
                                </th>
                                <th>
                                    Email Address
                                </th>
                                <th>
                                    LoginId
                                </th>
                                <th>
                                    RoleName
                                </th>
                                <th>
                                    IsActive
                                </th>

                            </tr>
                        </tfoot>

                        @foreach (var item in Model)
                        {
                            <tr>
                                @*
                                    <td>
                                        @Html.DisplayFor(modelItem => item.personId)
                                    </td>*@

                                <td>
                                    <a href='@Url.Action("AddPersonRecord", "SystemAdmin", new { PersonId = item.personId })'>
                                        <input type="image" src="~/Content/pic/images/icon_edit.gif" style="cursor:pointer;" />
                                    </a>

                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.firstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.lastName)
                                </td>
                                @*
                                    <td>
                                        @Html.DisplayFor(modelItem => item.siteId)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.siteName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.emailAddress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.loginId)
                                </td>

                                @*
                                    <td>
                                        @Html.DisplayFor(modelItem => item.roleId)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.roleName)
                                </td>
                                <td>
                                    @if (item.isActive == true)
                                    {
                                        @Html.Label("True");
                                    }
                                    else
                                    {
                                        @Html.Label("False");

                                    }

                                </td>

                                @*
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                    </td>*@
                            </tr>
                        }

                    </table>
                    <div id="pager" class="pager">
                        <form>
                            <img src="http://mottie.github.com/tablesorter/addons/pager/icons/first.png" class="first" />
                            <img src="http://mottie.github.com/tablesorter/addons/pager/icons/prev.png" class="prev" />
                            <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                            <img src="http://mottie.github.com/tablesorter/addons/pager/icons/next.png" class="next" />
                            <img src="http://mottie.github.com/tablesorter/addons/pager/icons/last.png" class="last" />
                            <select class="pagesize">
                                <option selected="selected" value="10">10</option>

                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                            </select>
                        </form>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




